<ul class="nav nav-tabs">
  <% active = (params[:state] == "available") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "未查看<span class='badge'>#{active.present? ? deliveries.count : current_recruiter.find_deliveries_count_by_state('available', params[:job_id])}</span>".html_safe, recruiters_deliveries_path(:state => 'available', job_id: params[:job_id]) %>
  </li>
  <% active = (params[:state] == "viewed") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "已查看<span class='badge'>#{active.present? ? deliveries.count : current_recruiter.find_deliveries_count_by_state('viewed', params[:job_id])}</span>".html_safe, recruiters_deliveries_path(:state => 'viewed', job_id: params[:job_id]) %>
  </li>
  <% active = (params[:state] == "final_paid") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "已付尾款<span class='badge'>#{active.present? ? deliveries.count : current_recruiter.find_deliveries_count_by_state('final_paid', params[:job_id])}</span>".html_safe, recruiters_deliveries_path(:state => 'final_paid', job_id: params[:job_id]) %>
  </li>
  <% active = (params[:state] == "refused") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "已拒绝<span class='badge'>#{active.present? ? deliveries.count : current_recruiter.find_deliveries_count_by_state('refused', params[:job_id])}</span>".html_safe, recruiters_deliveries_path(:state => 'refused', job_id: params[:job_id]) %>
  </li>
  <% active = (params[:state] == "outdated") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "过时推荐箱<span class='badge'>#{active.present? ? deliveries.count : current_recruiter.find_deliveries_count_by_state('outdated', params[:job_id])}</span>".html_safe, recruiters_deliveries_path(:state => 'outdated', job_id: params[:job_id]) %>
  </li>
</ul>
<br>
