<ul class="nav nav-tabs">
  <% active = (params[:state] == "approved") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "未查看<span class='badge'>#{params[:job_id] ? @job.unprocess_deliveries.count : current_recruiter.unprocess_deliveries_count}</span>".html_safe, recruiters_deliveries_path(:state => "approved", job_id: params[:job_id]) %>
  </li>
  <% active = (params[:state] == "paid") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "已查看<span class='badge'>#{params[:job_id] ? @job.deliveries.paid.count : current_recruiter.paid_deliveries_count}</span>".html_safe, recruiters_deliveries_path(:state => "paid", job_id: params[:job_id]) %>
  </li>
  <% active = (params[:state] == "final_paid") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "已付尾款<span class='badge'>#{params[:job_id] ? @job.deliveries.final_paid.count : current_recruiter.final_paid_deliveries_count}</span>".html_safe, recruiters_deliveries_path(:state => "final_paid", job_id: params[:job_id]) %>
  </li>
  <% active = (params[:state] == "refused") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "已拒绝<span class='badge'>#{params[:job_id] ? @job.deliveries.refused.count : current_recruiter.refused_deliveries_count}</span>".html_safe, recruiters_deliveries_path(:state => "refused", job_id: params[:job_id]) %>
  </li>
</ul>
<br>
