<div class="table-responsive">
  <% if params[:job_id] %>
    <br>
    <ol class="breadcrumb">
      <li>
        <%= link_to '职位列表', recruiters_jobs_path %>
      </li>
      <li>
        <%= link_to truncate(@job.title), recruiters_job_path(@job) %>
      </li>
      <li class="active">推荐列表</li>
    </ol>
    <%= render 'shared/page_title', title: '推荐给我的简历' %>
  <% else %>
    <%= render '/shared/search', title: '推荐给我的简历', url: recruiters_deliveries_path, placeholder: '被推荐人、投递职位', search_fields: 'resume_candidate_name_or_job_title_cont', q: @q %>
  <% end %>
  <%= render 'nav_tabs', deliveries: @deliveries %>
  <% if outdated? %>
    <div class="alert alert-info" role="alert">
      尊敬的用户您好，众聘达人将【<%= current_recruiter.find_deliveries_count_by_state('outdated', params[:job_id]) %>】个过时的推荐归类到<%= link_to '「过时推荐箱」', recruiters_deliveries_path(:state => 'outdated', job_id: params[:job_id])%>
    </div>
  <% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>被推荐人</th>
        <th>投递职位</th>
        <th>操作/状态</th>
      </tr>
    </thead>
    <tbody>
      <% if params[:state] == 'outdated' %>
        <%= render partial: 'outdated_delivery', collection: @deliveries, as: :delivery %>
      <% else %>
        <%= render partial: 'delivery', collection: @deliveries %>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'shared/paginate', objs: @deliveries %>
