<div class="table-responsive">
  <% if params[:job_id] %>
    <br>
    <ol class="breadcrumb">
      <li>
        <%= link_to '职位列表', recruiters_jobs_path %>
      </li>
      <li>
        <%= link_to truncate(@job.title), recruiters_job_path(@job) %>
      </li>
      <li class="active">推荐列表</li>
    </ol>
    <%= render 'shared/page_title', title: '推荐给我的简历' %>
  <% else %>
    <%= render 'recruiters/shared/search', title: '推荐给我的简历', url: recruiters_deliveries_path, placeholder: '输入投递职位' %>
  <% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>被推荐人</th>
        <th>投递职位</th>
        <th>操作/状态</th>
      </tr>
    </thead>
    <tbody>
      <% @deliveries.each do |delivery| %>
        <tr>
          <td>
            <% if delivery.refused? %>
              <s>
            <% end %>
            <% link_to_resume = link_to(delivery.resume_candidate_name, recruiters_delivery_path(delivery)) %>
            <% if delivery.unread? %>
              <strong><%= link_to_resume %></strong>
            <% else %>
              <%= link_to_resume %>
            <% end %>
            <% if delivery.refused? %>
              </s>
            <% end %>
          <td>
            <%= link_to delivery.job_title, recruiters_job_path(delivery.job) %>
          </td>
          <td>
            <%= link_to '查看简历', recruiters_delivery_path(delivery), class: 'btn btn-primary btn-sm' if (delivery.ever_paid_or_final_payment_paid_or_finished? && delivery.unread?) || (delivery.approved? && !delivery.ever_paid_or_final_payment_paid_or_finished?) %>
            <%= Recruiters::DeliveriesHelper.state_show(delivery)%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'shared/paginate', objs: @deliveries %>
