<br>
<div>
  <ol class="breadcrumb">
    <li>
      <%= link_to '推荐给我的简历', recruiters_deliveries_path %>
    </li>
    <li>
      <%= @delivery.resume_candidate_name %>
    </li>
  </ol>
  <%= render 'shared/page_title', title: @delivery.resume_candidate_name %>
  <p>
    <% @delivery.resume_tag_list.each do |tag| %>
      <i class="fa fa-tags"></i>
      <span class='gray-light'><%= tag %></span>
    <% end %>
  </p>
  <p>
    <span class="label label-info"><%= "推荐者留言：#{@delivery.message}" if @delivery.message.present? %></span>
  </p>
  <p>
    <% if ['deposit_paid_confirmed', 'final_payment_paid', 'finished'].include?(@delivery.job.state) %>
      <% if @delivery.ever_paid_or_final_payment_paid_or_finished? %>
        <h3>联系方式 </h3>
        <p><strong>手机号：</strong><%= @delivery.resume_mobile %></p>
        <p><strong>邮箱：</strong><%= @delivery.resume_email.present? ? @delivery.resume_email : '暂未提供' %></p>
      <% elsif @delivery.approved? %>
        <h3>联系方式 </h3>
        <p><strong>手机号：</strong>*********</p>
        <p><strong>邮箱：</strong>*********</p>
      <% end %>
    <% elsif @delivery.job.deposit_paid? %>
      <div class="alert alert-info" role="alert">订金确认中，请等待</div>
    <% else %>
      <div class="alert alert-info" role="alert">请进入职位&nbsp;<b><%= link_to @delivery.job_title, recruiters_job_path(@delivery.job) %></b>&nbsp;并支付订金即可查看联系方式</div>
    <% end %>
  </p>
  <hr>
  <p>
    <%= render 'shared/resume_show', resume: @delivery.resume, pdf_url: download_recruiters_resume_path(@delivery.resume), default: nil %>
  </p>
</div>
<br>
<hr>
<br>
<div>
  <% if ('deposit_paid_confirmed' == @delivery.job.state) and !@delivery.ever_paid_or_final_payment_paid_or_finished? and !@delivery.refused? %>
    <%= button_to "查看联系方式", pay_recruiters_delivery_path(@delivery), class: "btn btn-primary", role: "button", method: :put, data: { disable_with: '提交中...' } %>
    <%= link_to "拒绝", new_recruiters_rejection_path(delivery_id: @delivery.id), class: "btn btn-primary", role: "button" %>
    <p class='fs12 mt20 gray-light'>备注：点击【查看联系方式】，该职位可查看简历数减1。</p>
  <% end %>
</div>
<br>
<br>
<br>
<br>


