
<div>
  <ol class="breadcrumb">
    <li>
      <%= link_to '推荐给我的简历', recruiters_deliveries_path %>
    </li>

    <li>
      <%= @delivery.candidate_brief %>
    </li>
  </ol>

  <p class="lead"><%= @delivery.resume_candidate_name %></p>

  <p><%= simple_format @delivery.description %></p>

  <hr>
  <p>

    <% if @delivery.paid? || @delivery.resume_paid_in_other_delivery? %>
      <h3>联系方式 </h3>
      <p><%= @delivery.resume_mobile %></p>
      <p><%= @delivery.resume_email %></p>
    <% elsif !@delivery.refused? %>
      <h3>联系方式 </h3>
      付费<%= @delivery.job.bonus_for_each_resume %>元后可看
      <%= link_to "从订金中扣除#{@delivery.job.bonus_for_each_resume}元", pay_recruiters_delivery_path(@delivery), class: "btn btn-primary active", role: "button", method: :put if @delivery.recommended? %>
      <%= link_to "拒绝", new_recruiters_rejection_path(delivery_id: @delivery.id), class: "btn btn-primary active", role: "button" if @delivery.recommended? %>
    <% end %>
  </p>
</div>
