<div>
  <ol class="breadcrumb">
    <li>
      <%= link_to '推荐给我的简历', recruiters_deliveries_path %>
    </li>
    <li>
      <%= @delivery.resume_candidate_name %>
    </li>
  </ol>
  <p class="lead"><%= @delivery.resume_candidate_name %></p>
  <p>
    <i class="fa fa-tags"></i>
    <%= @delivery.resume_tag_list.each{|tag|}.join(' ') %>
  </p>
  <p>
    <span class="label label-info"><%= "推荐者留言：#{@delivery.resume_message}" if @delivery.resume_message.present? %></span>
  </p>
  <hr>
  <p><%= simple_format @delivery.description %></p>
  <hr>
  <p>
    <h3>联系方式 </h3>
    <% if @delivery.job.deposit_paid_confirmed? %>
      <% if @delivery.ever_paid_or_final_payment_paid_or_finished? %>
        <p><%= @delivery.resume_mobile %></p>
        <p><%= @delivery.resume_email %></p>
      <% elsif !@delivery.refused? %>
        付费<%= @delivery.job.bonus_for_each_resume %>元后可看
        <%= link_to "从订金中扣除#{@delivery.job.bonus_for_each_resume}元", pay_recruiters_delivery_path(@delivery), class: "btn btn-primary active", role: "button", method: :put if @delivery.approved? %>
        <%= link_to "拒绝", new_recruiters_rejection_path(delivery_id: @delivery.id), class: "btn btn-primary active", role: "button" if @delivery.approved? %>
      <% end %>
    <% elsif @delivery.job.deposit_paid? %>
      <div class="alert alert-info" role="alert">订金确认中，请等待</div>
    <% else %>
      <div class="alert alert-info" role="alert">请进入职位&nbsp;<b><%= link_to @delivery.job_title, recruiters_job_path(@delivery.job) %></b>&nbsp;并支付订金即可查看联系方式</div>
    <% end %>
  </p>
</div>
