<br>
<ol class="breadcrumb">
  <li>
    <%= link_to '我发布的职位', recruiters_jobs_path %>
  </li>
  <li class="active">预付订金</li>
</ol>
<%= render 'shared/page_title', title: @job.title %>
<div>
  <%= form_for @job, url: recruiters_deposits_path, method: 'POST' do |f| %>
    <%= f.hidden_field :id, value: @job.id %>
    <%= f.hidden_field :deposit, value: (@job.bonus * 0.2).to_i %>
    <% if Time.now.strftime("%Y-%m") == '2015-11' %>
      <div class="alert alert-info">
        <i class="fa fa-volume-up"></i>
        尊敬的用户：本月发布的所有职位，都是免订金的，点击转账完成就可以开启招聘之旅啦。
      </div>
    <% end %>
    <p class="lead">请转账 <%= (@job.bonus * 0.2).to_i %> 元到【北京火花航程科技有限公司】的银行账号：<%= Admin::BANK_ACCOUNT %>  开户行：中国农业银行（北四环支行）。<br>完成后，请点击下面的转账完成确认按钮。</p>
    <p>
      <div class="well">
        <h4>备注：</h4>
        <p style="text-indent:2em;">
          为了让众聘达人成为最高效的招聘平台，我们希望每一份需求和推荐都是有效的，因而设置了预付20%佣金的门槛，如果最终没有完成招聘我们将会退款！每看一份简历的联系方式会从订金中扣款0.5%的佣金，我们将把扣除看简历红包后的全额悉数退款。
        </p>
      </div>
    </p>
    <p>
      <%= f.submit '转账完成', class: 'btn btn-primary', data: { disable_with: '提交中...' } %>
      <%= link_to '稍后付', recruiters_jobs_path(:state => "submitted"), class: 'btn btn-default' %>
    </p>
  <% end %>
</div>
