<p class="lead"><%= @petition.job_title %></p>
<p><%= simple_format @petition.job_description %></p>
<p>佣金：<%= @petition.job_bonus %>元</p>
<p>退款理由：</p>
<p><%= @petition.reason %></p>
<p>
  <% if @petition.submitted? %>
    <%= link_to '同意', agree_admins_petition_path(@petition), method: :put, class: 'btn btn-success' %>
    <%= link_to '拒绝', refuse_admins_petition_path(@petition), method: :put, class: 'btn btn-danger' %>
  <% else %>
    <h3>审批结果：<%= @petition.state_show %></h3>
  <% end %>
</p>