<% url = (params[:action] == "new" || params[:action] == "create") ? admins_interviews_path : admins_interview_path(interview) %>
<%= form_for interview, url: url, html: { multipart: true } do |f|  %>
  <div class="row">
    <div class="col-xs-6">
      <%= text_field_tag :professor_email, professor.try(:email), class: "form-control", placeholder: '专家登录邮箱' %>
    </div>
    <div class="col-xs-6">
      <%= text_field_tag :professor_password, "", class: "form-control", placeholder: '专家登录密码' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6">
      <%= f.text_field :professor_name, class: "form-control", placeholder: '专家姓名' %>
    </div>
    <div class="col-xs-6">
      <%= f.text_field :professor_title, class: "form-control", placeholder: '专家职位描述' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6">
      <%= f.text_field :reply_begin_at, class: "form-control .col-xs-4 datepicker", placeholder: '回答开始时间' %>
    </div>
    <div class="col-xs-6">
      <%= f.text_field :reply_end_at, class: "form-control .col-xs-4 datepicker", placeholder: '回答结束时间'  %>
    </div>
  </div>
  <p>
    专家照片
    <%= image_tag(interview.avatar_url, :class => "img-circle", :size => "60x60") if interview.avatar? %>
    <%= f.file_field :avatar %>
  </p>
  <p><%= f.text_area :brief, class: "form-control", rows: 4, placeholder: '访谈简述' %></p>
  <p><%= f.text_area :content, class: "form-control froala_editor", rows: 16 %></p>

  <br>
  <p>
    <%= f.submit "发布", class: "btn btn-primary", data: { disable_with: '提交中...' } %>
  </p>
<% end %>

<%= content_for :styles do %>
  <%= stylesheet_link_tag "froala_editor" %>
  <%= stylesheet_link_tag "bootstrap-datepicker3" %>
<% end %>

<%= content_for :scripts do %>
  <%= javascript_include_tag 'froala_editor', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-datepicker/core', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'datepicker', 'data-turbolinks-track' => true %>
<% end %>
