<%= render 'shared/page_title', title: "访谈管理" %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>访问对象</th>
        <th>发布时间</th>
        <th>回答/提问</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @interviews.each do |interview| %>
        <tr>
          <td><%= link_to "#{interview.professor_name}-#{interview.professor_title}", interview %></td>
          <td><%= interview.created_at.localtime.to_date.to_s(:db) %></td>
          <td><%= interview.answers_count %>/<%= interview.questions_count %></td>
          <td>
            <%= link_to '修改', edit_admins_interview_path(interview), class: "btn btn-primary btn-sm" %>
            <%= link_to '删除', admins_interview_path(interview), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: '确认?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to '新建访谈', new_admins_interview_path, class: "btn btn-primary" %>
