<ol class="breadcrumb">
  <li><%= link_to "用户列表", admins_users_path(type: "Recruiter") %></li>
  <li><%= link_to "招聘方", admins_users_path(type: "Recruiter") %></li>
  <li><%= @company.name %></li>
</ol>
<div>
  <p class="lead"><%= @company.name %></p>
  <p><%= @company.mobile %></p>
  <p><%= simple_format @company.description %></p>
</div>
