<% if current_user %>
  <%= form_for [@interview, Comment.new], :remote => true do |f|  %>
    <%= f.hidden_field :parent_id, value: comment.id if defined?(comment) %>
    <%= f.hidden_field :commenter_id, value: current_user.id if current_user %>
    <p>
      <% default_value = current_user ? current_user.name : "" %>
      <%= f.text_field :commenter_name, :value => default_value, class: "form-control", placeholder: '您的名字'%>
    </p>
    <p>
      <% form_content_id = defined?(comment) ? "comment_content#{comment.id}" : "comment_content" %>
      <%= f.text_area :content, class: "form-control", rows: 5, placeholder: '内容', id: form_content_id %>
    </p>
    <p>
      <%= f.submit "发布", class: "btn btn-primary", data: { disable_with: '提交中...' } %>
    </p>
  <% end %>
<% else %>
  <%= render "login_page" %>
<% end %>
