<div class="well">
  <p class="text-muted">
    <strong><%= comment.commenter_name %></strong>
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %>
  </p>
  <blockquote>
    <p><%= comment.content %></p>
  </blockquote>


  <%= link_to "<i class='fa fa-reply'></i>".html_safe, "#", html_options = { "data-toggle" => "collapse", "href" => "#collapseExample#{comment.id}" } %>
  <div class="collapse" id="collapseExample<%= comment.id %>">
    <p>
      <%= render(partial: "comment_form", locals: {comment: comment}) %>
    </p>
  </div>
</div>
