<% content_for :title, "AMA with #{@interview.professor_name}" %>
<% content_for :job_info do %>

  <div class="jumbotron">
    <div class="text-center">
      <%= image_tag(@interview.avatar_url, :class => "img-thumbnail", :size => "200x200") if @interview.avatar? %>
      <h2>AMA with <%= @interview.professor_name %></h2>
      <div><%= @interview.professor_title %></div>
    </div>
  </div>
  <div style="word-break:break-all;">
    <%= @interview.content.html_safe %>
  </div>
  <br>
  <div id="comment_form_01">
    <hr>
    <br>
    <p class="text-right">共收到<%= @interview.questions_count %>个提问</p>
    <br><br>
    <p>
      <% if @interview.available? %>
        <% if current_user %>
          <%= render "/comments/comment_form" %>
        <% else %>
          <%= render "login_page" %>
        <% end %>
      <% end %>
    </p>
  </div>

  <%= render 'time_unavailable', interview: @interview unless @interview.available? %>

  <div class="bottom-column" id="commit_button">
    <%= link_to "我要提问", "#comment_form_01", class: "btn btn-success btn-lg" if @interview.available? %>
  </div>
  <br>
  <% @comments = @interview.comments.hash_tree %>
  <%= comments_tree_for @comments %>

<% end %>

<% content_for :other_job_info do %>
  <p>
    <div class="sidebar-module sidebar-module-inset">
      <h2><%= link_to "众聘达人", root_path %></h2>
      <h3>
        推荐优质简历
      </h3>
      <h3>
        获得企业悬赏
      </h3>
      <br>
      <%= link_to "我要红包", Job, class: "btn btn-danger" %>
    </div>
    <hr>
    <h4>更多访谈</h4>
    <ol class="list-unstyled">
      <% Interview.all.each do |interview| %>
      <li><%= link_to "#{interview.professor_name}-#{interview.professor_title}", interview %></li><br>
      <% end %>
    </ol>
    <hr>
    <h4>赞助伙伴</h4>
    <ol class="list-unstyled">
        <%= link_to image_tag('partners/mika.jpg', class: "img-thumbnail"), 'http://www.micamika.com/', target: '_blank' %>
        <%= link_to image_tag('partners/zaodian.jpg', class: "img-thumbnail"), 'http://www.izaodiandao.com/', target: '_blank' %>
        <%= link_to image_tag('partners/benlai.jpg', class: "img-thumbnail"), 'http://www.benlai.com/', target: '_blank' %>
        <%= link_to image_tag('partners/meidao.jpg', class: "img-thumbnail"), 'http://www.emeidaojia.com/', target: '_blank' %>
    </ol>
    <hr>
    <% if current_admin %>
      <%= link_to "修改访谈", edit_admins_interview_path(@interview), class: "btn btn-primary" %>
      &nbsp;
      <%= link_to "返回访谈列表", admins_interviews_path, class: "btn btn-primary" %>
    <% end %>
  </p>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'comment', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :styles do %>
  <%= stylesheet_link_tag 'comment' %>
<% end %>
