<% content_for :title, @interview.professor_name %>
<% content_for :job_info do %>

  <div class="jumbotron">
    <div class="text-center">
      <%= image_tag(@interview.avatar_url, :class => "img-thumbnail", :size => "300x300") if @interview.avatar? %>

      <h1><%= @interview.professor_name %></h1>
      <div><%= @interview.professor_title %></div>
    </div>
</div>
  <div style="word-break:break-all;">
     <%= @interview.content.html_safe %>
  </div>
  <div class="text-center">
    <%= link_to "我要提问", admins_interviews_path, html_options = {class: "btn btn-success btn-lg", "data-toggle" => "collapse", "href" => "#collapseExample"}  %>
    <div class="collapse" id="collapseExample">
      <p>
      <%= form_for [@interview, Comment.new] do |f|  %>
        <p>
          <%= f.text_field :commenter_name, class: "form-control", placeholder: '您的名字' %>
        </p>
        <p>
          <%= f.text_area :content, class: "form-control", rows: 5, placeholder: '问题' %>
        </p>
        <p>
          <%= f.submit "发布问题", class: "btn btn-primary", data: { disable_with: '提交中...' } %>
        </p>
      <% end %>
      </p>
    </div>
  </div>

    <ul class = "media-list">
       <li class = "media">
        <% @interview.comments.each do |comment| %>
          <%= link_to(image_tag("2.jpeg", :class => "media-object", :alt => "Generic placeholder image"), "#", :class => "pull-left") %>
          <div class = "media-body">
             <h4 class = "media-heading"><%= comment.commenter_name %></h4>
             <p>
               <%= comment.content %>
             </p>
             <br>
             <div class = "media">
               <%= link_to(image_tag("2.jpeg", :class => "media-object"), "#", :class => "pull-left") %>
                <div class = "media-body">
                   <h4 class = "media-heading">Nested media heading</h4>
                   This is some sample text. This is some sample text.
                   This is some sample text. This is some sample text.
                   This is some sample text. This is some sample text.
                   This is some sample text. This is some sample text.

                   <!-- Nested media object --><br>
                   <div class = "media">
                      <%= link_to(image_tag("2.jpeg", :class => "media-object"), "#", :class => "pull-left") %>

                      <div class = "media-body">
                         <h4 class = "media-heading">Nested media heading</h4>
                         This is some sample text. This is some sample text.
                         This is some sample text. This is some sample text.
                         This is some sample text. This is some sample text.
                         This is some sample text. This is some sample text.
                      </div>

                   </div>
                </div>

             </div>
           </div>
        <% end %>
      </li>
    </ul>

<% end %>

<% content_for :other_job_info do %>
  <p>
    <div class="sidebar-module sidebar-module-inset">
      <h2><%= link_to "众聘达人", root_path %></h2>
      <h3>
        推荐优质简历
      </h3>
      <h3>
        获得企业悬赏
      </h3>
      <br>
      <%= link_to "我要红包", Job, class: "btn btn-danger" %>
    </div>
    <hr>
    <h4>更多访谈</h4>
    <ol class="list-unstyled">
      <% Interview.all.each do |interview| %>
        <li><%= link_to "#{interview.professor_name}-#{interview.professor_title}", interview %></li><br>
      <% end %>
    </ol>
  </p>

  <% if current_admin %>
    <%= link_to "修改访谈", edit_admins_interview_path(@interview), class: "btn btn-primary" %>
    &nbsp;
    <%= link_to "返回访谈列表", admins_interviews_path, class: "btn btn-primary" %>
  <% end %>
<% end %>
