<h2>订金确认</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>金额</th>
        <th>来自账号</th>
        <th>来自职位</th>
        <th>转账时间</th>
        <th>状态/操作</th>
      </tr>
    </thead>
    <tbody>
      <% @deposits.each do |deposit| %>
        <tr>
          <td><%= deposit.amount %></td>
          <td><%= deposit.wallet.user.email %></td>
          <td><%= deposit.job.try(:title) %></td>
          <td><%= deposit.created_at.localtime.to_s(:db) %></td>
          <td>
            <% if deposit.submitted? %>
            <%= link_to "已收到", admins_money_transfer_path(deposit), class: "btn btn-primary", method: :put %>
            <% else %>
              <%= deposit.state_show %>
            <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class='text-center'>
  <%= will_paginate @deposits, renderer: BootstrapPagination::Rails, previous_label: '上一页', next_label: '下一页' %>
</div>