<%= render 'admins/shared/search', title: '存款/提现确认', url: final_payments_admins_money_transfers_path, placeholder: '公司、职位、操作帐号', search_fields: 'company_name_or_job_title_or_recruiter_email_cont', q: @q %>
<%= render 'tab', final_payments: @final_payments %>
<br>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>公司</th>
        <th>职位:简历</th>
        <th>操作帐号</th>
        <th>金额</th>
        <th>转账时间</th>
        <th>状态/操作</th>
      </tr>
    </thead>
    <tbody>
      <% @final_payments.each do |final_payment| %>
        <tr>
          <td><%= link_to final_payment.delivery.job.company_name, 'javascript:void(0);', "data-toggle" => "popover", "data-trigger" => "focus", "data-placement" => "bottom", "data-content" => final_payment.delivery.job.company_description %></td>
          <td><%= final_payment.try(:delivery).try(:job).try(:title) %>:<%= final_payment.delivery.try(:resume).try(:candidate_name) %>的简历</td>
          <td><%= final_payment.wallet.user.email %></td>
          <td><%= final_payment.amount %></td>
          <td><%= final_payment.created_at.localtime.to_s(:db) %></td>
          <td>
            <% if final_payment.submitted? %>
            <%= button_to "已收到", admins_money_transfer_path(final_payment), class: "btn btn-primary btn-sm", method: :put, data: { disable_with: '提交中...' } %>
            <% else %>
              <%= final_payment.state_show %>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'shared/paginate', objs: @final_payments %>
<%= render 'shared/popover' %>
