  <div class="ama_image">
    <div class="container">
      <br><br><br><br>
      <div class="text-center">
        <div>
          <p style="font-size: 52px; color: #fff;">
            达人指路
          </p>
          <p style="font-size: 52px; color: #fff;">
            少走弯路
          </p>
            <p style="font-size: 18px; color: #fff;">众聘达人社区，hr在线互动问答社区</p>
          <br>
        </div>
      </div>
    </div>
  </div>
<br>
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center">
           <%= image_tag "1.jpeg", :class => "img-circle", :size => "160x160" %>
           <h2>张栋</h2>
           <h3>新锐珠宝设计师</h3>
        </div>
        <p>投资人可怕吗？真心的不可怕，虽然他们摆着一副屌屌的架子，拿着LP的前似乎可以居高临下。

  投资人好对付吗？真心不好对付，一帮人精脑子转的比博古特还快，一不留神就被他们带沟里。

  那为什么投资人那么聪明，还是听不懂我的项目？

  如果你是一位小白创业者，如果对你的项目有足够的信心。

  OK，来跟栋汁聊聊 # 如何牵着投资人的鼻子走 #

  注：栋汁同学现为360 capital 战略投资人，曾混迹于某世界顶级咨询公司担任战略咨询经理多年。

  PS：“在行”上面不谈工作，只聊话题范围内的经验、技巧和理解，如果有融资需求的同学，请私下发送邮件到我司邮箱，谢谢。

  </p>
        <p class="text-center"><%= link_to "问他问题 &raquo;".html_safe, ama_show_path, :class => "btn btn-default" %></p>
        <br>
         <hr class="featurette-divider">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="text-center">
        <%= image_tag "2.jpeg", :class => "img-circle", :size => "160x160" %>
        <h2>刘星宇</h2>
        <h3>新锐珠宝设计师</h3>
        </div>
        <p>从国母佩戴珍珠出席各种场合后，珍珠更是火爆。但是真正在挑选珍珠的过程中，消费者又很难分辨，哪个是淡水珍珠，哪个是海水珍珠。珍珠的真假优劣如何区分评判，天然珍珠、人工处理的珍珠、人工合成的珍珠如何判断，怎样挑选到适合自己的珍珠。这都需要我们一起探讨。

  珠宝饰品在过去仅仅是奢侈品，而现在的消费者逐渐要求个性化，订制化。这些都是传统珠宝品牌无法满足的。但是由于珠宝订制被有意无意的包裹了神秘的外衣，加之珠宝普遍较为贵重，所以消费者不敢轻易尝试，即使想要尝试也摸不着们。想要慧眼识金，又要展现个性，对于中国的消费者实在是太困难了。

  我可以和你聊一聊：

  区分珍珠的种类
  评判珍珠的标准
  鉴别人工处理珍珠的方法
  </p>
        <p class="text-center"><%= link_to "问他问题 &raquo;".html_safe, ama_show_path, :class => "btn btn-default" %></p>
         <hr class="featurette-divider">
        <br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="text-center">
         <%= image_tag "3.jpeg", :class => "img-circle", :size => "160x160" %>
        <h2>李令辉</h2>
        <h3>滴滴打车首席架构师</h3>
        </div>
        <p>移动互联网后台架构设计建议
  做技术架构，总要面对这些：

  什么是移动互联网合适的技术架构；
  如何结合自己团队的特点的技术选型；
  怎样在技术问题出现前预判并解决。
  在这样的情况下，创业公司创始人，架构师，技术总监容易遭遇：

  选择一个高大上的技术架构但是不适合自己的团队；
  被现有团队的技术背景绑架，无法做出前瞻的设计；
  往往对业务增长造成的瓶颈预判错误，导致做无用功；
  沿用旧有经验，套用错误的工程实践，导致答非所问；
  没有考虑成本，照搬大公司经验，无法低成本高效率的产出。
  我有多年互联网架构设计经验，看过几乎所有国内的著名架构设计，对互联网后台架构设计有深入的理解，主导了滴滴打车技术迭代中的核心服务架构升级。

  愿意与你分享的内容包括：

  review现有技术架构；
  review现有技术团队组成；
  评估业务的潜在增长点以及技术难点；
  评估某个具体技术方案的可行性；
  为具体的业务需求提出架构建议。
  </p>
        <p class="text-center"><%= link_to "问他问题 &raquo;".html_safe, ama_show_path, :class => "btn btn-default" %></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>


