<br>
<ol class="breadcrumb">
  <li>
    <%= link_to '账户管理', recruiters_path %>
  </li>
  <li class="active">修改公司信息</li>
</ol>

<%= render 'shared/page_title', title: @company.name if @company.name? %>

<%= form_for @company, url: recruiters_company_path do |f| %>
  <p>
    <%= f.label :name, "公司名称" %>
    <span class='red-star'>*</span>
    <%= f.text_field :name, class: "form-control" %>
  </p>
  <p>
    <%= f.label :description, "公司描述" %>
    <span class='red-star'>*</span>
    <%= f.text_area :description, class: "form-control", rows: 20 %>
  </p>
  <p>
    <%= f.label :mobile, "联系方式" %>
    <span class='red-star'>*</span>
    <%= f.text_field :mobile, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :address, "公司地址" %>
    <span class='red-star'>*</span>
    <%= f.text_field :address, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :url, "公司网址" %>(网址请以http://或者https://开头)
    <%= f.text_field :url, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :service_protocol, "企业服务协议" %><%= link_to '企业服务协议模板', company_service_protocol_path %>
  </p>
  <p>
    <%= f.file_field 'service_protocol', style: "display:inline;width:160px;float:left;" %><span style="color:red;font-size:12px;">请上传企业服务协议文件&nbsp;&nbsp;(支持pdf、jpg、jpeg、gif、png格式)</span>
  </p>
  <p>
    <%= f.submit "确定", class: "btn btn-primary", data: { disable_with: '提交中...' } %>
  </p>
<% end %>
