<ol class="breadcrumb">
  <li>
    <%= link_to '账户管理', recruiters_path %>
  </li>
  <li class="active">修改公司信息</li>
</ol>

<div class="row placeholders">
  <%= form_for @company, url: recruiters_company_path do |f| %>
    <p>
      <%= f.text_field :name, class: "form-control", placeholder: "公司名称" %>
    </p>
    <p>
      <%= f.text_area :description, class: "form-control", placeholder: "公司描述", rows: 20 %>
    </p>
    <p>
      <%= f.text_field :mobile, class: 'form-control', placeholder: "手机号" %>
    </p>
    <p>
      <%= f.submit "确定", class: "btn btn-primary", data: { disable_with: '提交中...' } %>
    </p>
  <% end %>
</div>
