<% content_for :job_info do %>
  <%= render 'suppliers/shared/search', title: '众聘达人推荐职位列表', url: jobs_path, placeholder: '职位名称、公司名称', search_fields: 'title_or_company_name_cont', q: @q %>

  <div style="background:#eee !important;padding-left: 16px;padding-bottom: 8px;padding-top: 20px;">
    <p>
      <% Job.priority_tags.each do |tag| %>
        <%= link_to tag.name, jobs_path(:tag => tag.name) %>

        &nbsp;&nbsp;&nbsp;
      <% end %>
      <%= link_to "所有", suppliers_jobs_path %>
    </p>
  </div>
  <br>
  <ul class="nav nav-tabs">
    <% active = (params[:state] == "high_priority") ? "active" : "" %>
    <li role="presentation" class="<%= active %>">
      <%= link_to "急招职位<i class='fa fa-fire hot-fire'></i>".html_safe, jobs_path(:state => "high_priority") %>
    </li>
    <% active = (params[:state] != "high_priority") ? "active" : "" %>
    <li role="presentation" class="<%= active %>">
      <%= link_to "最新职位".html_safe, jobs_path %>
    </li>
  </ul>

  <%= render 'list', jobs: @jobs %>
  <%= render 'shared/paginate', objs: @jobs %>
<% end %>
