<% content_for :title, "#{@job.title} - #{@job.company_name}" %>
<% content_for :job_info do %>
  <%= render 'shared/supplier_job_show', job: @job %>
  <div style="word-break:break-all;">
    <hr>
    <h1 class='text-primary'><%= @job.company_name %></h1>
    <blockquote>
      <%= simple_format @job.company_description %>
    </blockquote>
    <p>地址：<%= @job.company_address.present? ? @job.company_address : '暂未提供' %></p>
  </div>
<% end %>

<% content_for :other_job_info do %>
  <div class="sidebar-module sidebar-module-inset">
    <h3>
      推荐优质简历
    </h3>
    <h3>
      获得企业悬赏
    </h3>
    <br>
    <p>
      <%= link_to '推荐简历', new_suppliers_resume_path(job_id: @job), class: 'btn btn-primary' %>
    </p>
  </div>
  <hr>
  <p>
    <%= render "similar_jobs", similar_jobs: @similar_jobs %>
  </p>
<% end %>
