<div class="col-xs-3 col-md-2">
  <div class="thumbnail">
    <div class="partner-logo">
      <%= image_tag partner.logo_url %>
    </div>
    <div class="caption">
      <h3>
      </h3>
      <p>
        <% if partner.url.present? %>
          <%= link_to external_url(partner.url), external_url(partner.url), target: '_blank' %>
        <% elsif partner.qrcode.present? %>
          <%= sanitize('<i class="fa fa-qrcode"></i>') %>
        <% else %>
          <%= link_to '完善网址', edit_admins_partner_path(partner) %>
        <% end %>
      </p>
      <div>
        <%= link_to '编辑', edit_admins_partner_path(partner), class: 'btn btn-primary' %>
        <%= button_to '删除', admins_partner_path(partner), method: :delete, data: { confirm: "是否删除合作伙伴【#{partner.name}】？删除后不可恢复!", disable_with: '提交中...'}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>