<div>
<h3>账户余额</h3>
  <%= current_recruiter.wallet.money %>
  <p>
    <%= link_to "提现到支付宝", new_withdraw_path, :class => "btn btn-primary" %>
  </p>
</div>

<hr>
<div>
  <h3>公司信息</h3>
  <div>
    <p class="lead"><%= current_recruiter.company.name %></p>
    <p><%= simple_format current_recruiter.company.description %></p>
    <p>
      <%= link_to "修改公司信息", edit_recruiters_company_path(current_recruiter.company), :class => "btn btn-primary" %>
    </p>
  </div>

</div>
