<div class="job-detail">
  <div class="panel-heading">
    <%= render 'shared/page_title', title: job.title %>
    <p class="info">
      招聘方·<span class='gray-light'><%= job.company_name %></span>·
      <% job.tag_list.each do |tag| %>
        <i class="fa fa-tags"></i>
        <span class='gray-light'><%= tag %></span>
      <% end %>
    </p>
    <%= sanitize("<p><strong>分类：</strong><span class='gray-light'>#{job.classification_breadcrumb}</span></p>") if job.classification_breadcrumb.present? %>
    <p>
      <%= render 'shared/salary_show', job: job %>
    </p>
    <p>
      <strong>职位佣金：</strong>
      <span class='gray-light'>
        <%= job.bonus %>元
      </span>
    </p>
  </div>
  <div class="panel-body">
    <H3>
      职位描述
    </H3>
    <hr>
    <p>
      <div class="word-break gray-light markdown">
        <%= markdown job.description %>
      </div>
    </p>
  </div>
</div>
