<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"><%= image_tag "logo", height: '20px' %></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <% if current_user %>
        <ul class="nav navbar-nav">
          <li><a href="/">管理页面</a></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_admin %>
          <li><%= link_to current_user.wallet.money.to_i, "" %></li>
        <% end %>

        <% if current_user %>
          <li><%= link_to current_user.email, current_user_account_path %></li>
        <% end %>
        <% if current_user %>
          <li><%= link_to "退出", destroy_admin_session_path, :method => "DELETE" %></li>
        <% else %>
          <li>
            <a href="#" data-toggle="modal" data-target="#ModalRecruiter">
              我要招聘
            </a>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#ModalSupplier">
              我要推荐
            </a>
          </li>
          <li>
            <%= link_to '管理员登录', new_admin_session_path unless Rails.env == "production" %>
          </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div id='bigQrcode' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
</div>

<%= render "/home/modal_recruiter" %>
<%= render "/home/modal_supplier" %>
<% if current_user && current_user.weixin_subscribable? %>
  <div class="tittle-qrcode">
    <a href="<%= qr_code_path(current_user.id) %>" data-remote=true >
      <i class="fa fa-qrcode"></i>
    </a>
    <p>点一下，关注微信公众号</p>
  </div>
<% end %>
