<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.zpdaren.com"><%= image_tag "logo.png", height: '24px' , alt: "众聘达人 - 众包模式的互联网招聘平台" %></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <% if current_user %>
        <ul class="nav navbar-nav">
          <li class="<%= active_for?([Admins::JobsController, Recruiters::JobsController, Suppliers::JobsController]) %>"><a href="/">首页</a></li>
        </ul>
      <% elsif front_page? %>
        <%= form_for(User.new, as: "user", url: session_path("user"), html: {class: "navbar-form navbar-right"}) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "邮箱" %><br>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "密码" %>
          </div>
          <%= f.submit "登录", :class => "btn btn-success" %>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><%= link_to "众聘热文", Blog.first if Blog.first %></li>
          </ul>
        <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_admin %>
          <li><%= link_to current_user.wallet.money.to_i, "" %></li>
        <% end %>
        <% if current_user %>
          <li><%= link_to current_user.email, current_user_account_path %></li>
          <li><%= link_to "退出", destroy_user_session_path, :method => "DELETE" %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div id='bigQrcode' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
</div>
<% if current_user && current_user.weixin_subscribable? && params[:controller] != 'suppliers/qr_codes' %>
  <div class="tittle-qrcode">
    <a href="<%= qr_code_path(current_user.id) %>" data-remote=true >
      <i class="fa fa-qrcode"></i>
    </a>
    <p>点一下，关注微信公众号</p>
  </div>
<% end %>
