<% if params[:recruiter_id] %>
  <br>
  <ol class="breadcrumb">
    <li>
      <%= link_to '我收到的职位', suppliers_jobs_path(:state => 'high_priority') %>
    </li>
    <li class="active"><%= jobs.first.company_name %></li>
  </ol>
<% end %>
<%= render 'suppliers/shared/search', title: '我收到的职位', url: suppliers_jobs_path, placeholder: '职位名称、公司名称', search_fields: 'title_or_company_name_cont', q: @q %>
<div style="background:#eee !important;padding-left: 16px;padding-bottom: 8px;padding-top: 20px;">
  <p>
    <% Job.priority_tags.each do |tag| %>
      <%= link_to tag.name, suppliers_jobs_path(:tag => tag.name, recruiter_id: params[:recruiter_id]) %>

      &nbsp;&nbsp;&nbsp;
    <% end %>
    <%= link_to "所有", suppliers_jobs_path(recruiter_id: params[:recruiter_id]) %>
  </p>
</div>
<br>
<%= render 'nav_tabs', jobs: jobs if params[:recruiter_id].blank? %>
<br>
<% if params[:state] == 'high_priority' %>
  <div class="alert-info mb20" role="alert">
    <i class="fa fa-volume-up"></i>
    &nbsp;急招以下职位，欢迎推荐
  </div>
<% end %>

<%= render 'list', jobs: jobs %>
<%= render 'shared/paginate', objs: jobs %>
