<% if params[:recruiter_id] %>
  <br>
  <ol class="breadcrumb">
    <li>
      <%= link_to '我收到的职位', suppliers_jobs_path(:state => 'high_priority') %>
    </li>
    <li class="active"><%= jobs.first.company_name %></li>
  </ol>
<% end %>
<%= render 'suppliers/shared/search', title: '我收到的职位', url: suppliers_jobs_path, placeholder: '输入职位名称' %>
<ul class="nav nav-tabs">
  <% active = (params[:state] == "high_priority") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "急招职位<span class='badge'>#{active.present? ? jobs.count : Job.available.priority('high').count }</span>".html_safe, suppliers_jobs_path(:state => "high_priority") %>
  </li>
  <% active = (params[:state] != "high_priority") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "最新职位<span class='badge'>#{active.present? ? jobs.count : Job.available.count}</span>".html_safe, suppliers_jobs_path %>
  </li>
</ul>
<br>
<% if params[:state] == 'high_priority' %>
  <div class="alert-info mb20" role="alert">
    <i class="fa fa-volume-up"></i>
    &nbsp;急招以下职位，招聘方坐等您的推荐
  </div>
<% end %>
<%= render 'list', jobs: jobs %>
<%= render 'shared/paginate', objs: jobs %>
