<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>标题</th>
        <th>入职红包</th>
        <th>简历红包</th>
        <th>发布时间</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= link_to job.title, job, :target => "_blank" %></td>
          <td><%= job.bonus_for_entry %>元</td>
          <td>简历被查看可获得<%= job.resumes_bonus_for(current_supplier) %>元红包</td>
          <td><%= job.created_at.localtime.to_date.to_s(:db) %></td>
          <td>
            <% if job.resumes_count_from(current_supplier) > 0 %>
              <a id="resumesForJob" tabindex="0" data-placement="bottom" role="button" data-toggle="popover" data-trigger="focus" data-content="<%= render 'delivery_list', deliveries: job.deliveries_from(current_supplier) %>" title="已推荐简历列表">已推荐简历<%= job.resumes_count_from(current_supplier) %>份</a>
            <% else %>
              未推简历
            <% end %>
          </td>
          <td>
            <%= link_to "为他推荐", job, class: "btn btn-primary active", role: "button", :target => "_blank" %>
            <% if job.attend?(current_supplier) %>
              <span class="glyphicon glyphicon-heart" id='attended'></span>
            <% else %>
              <%= link_to '', attend_suppliers_job_path(job), class: 'glyphicon glyphicon-heart-empty', method: :put, id: 'unattend' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<style type="text/css">
  a{
    cursor: pointer;
  }
  #attended{
    color: red;
  }
  #unattend{
    text-decoration: none;
    color: gray;
  }
</style>