<% content_for :job_info do %>
  <div style="word-break:break-all;">
    <h2 class="blog-post-title"><%= @job.title %></h2>
    <p>
      <i class="fa fa-tags"></i>
      <%= @job.tag_list.each{|tag|}.join(' ') %>
    </p>
    <p class="blog-post-meta"><%= @job.company_name %>提供<%= @job.bonus_for_entry %>元招聘红包</p>
    <p><%= simple_format @job.description %></p>
    <hr>
    <h2 class="blog-post-title">关于<%= @job.company_name %></h2>
    <blockquote><%= @job.company_description %></blockquote>
  </div>
<% end %>

<% content_for :other_job_info do %>
  <p>
    <%= render "resume_deliver", job: @job %>
  </p>

  <p>
    <%= render "delivered_resumes", job: @job %>
  </p>

  <p>
    <%= render "similar_jobs", similar_jobs: @similar_jobs %>
  </p>
<% end %>
