<% content_for :job_info do %>
  <%= render 'shared/supplier_job_show', job: @job %>
  <div style="word-break:break-all;">
    <hr>
    <h2>关于<%= @job.company_name %></h2>
    <blockquote>
      <%= simple_format @job.company_description %>
    </blockquote>
    <p>地址：<%= @job.company_address.present? ? @job.company_address : '暂未提供' %></p>
  </div>
<% end %>

<% content_for :other_job_info do %>
  <%= render "resume_deliver", job: @job %>
  <%= render "delivered_resumes", job: @job %>
  <%= render "similar_jobs", similar_jobs: @similar_jobs %>
<% end %>
