<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8" style="padding-top: 15px;">
      <div class="blog-post">
        <%= render 'shared/supplier_job_show', job: @job %>
        <div style="word-break:break-all;">
          <hr>
          <h2>关于<%= @job.company_name %></h2>
          <blockquote>
            <%= simple_format @job.company_description %>
          </blockquote>
          <p>地址：<%= @job.company_address.present? ? @job.company_address : '暂未提供' %></p>
        </div>
      </div>
    </div><!-- /.blog-main -->
    <div class="col-sm-3 blog-sidebar">
      <div class="sidebar-module">
        <%= render "resume_deliver", job: @job %>
        <%= render "delivered_resumes", job: @job %>
        <%= render "similar_jobs", similar_jobs: @similar_jobs %>
      </div>
    </div>
  </div>
</div>

