<div class="row text-center">
  <h3>达人指路</h3><br>
  <% Interview.all[0..2].each do |interview| %>
    <div class="col-lg-4">
       <blockquote><%= link_to(image_tag(interview.avatar_url, :class => "img-circle", :size => "140x140"), interview) if interview.avatar? %>
       <h3> <%= link_to interview.professor_name, interview %></h3>

        <footer><%= interview.professor_title %></footer>
      </blockquote>
      <p><%= truncate_html interview.brief %></p>
      <p><%= link_to "我要提问 &raquo;".html_safe, interview, :class => "btn btn-default" %></p>
    </div>
  <% end %>
</div>
