<div class="modal fade" id="ModalSupplier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <% resource = Supplier.new %>
      <% resource_name = "supplier" %>
      <div class="modal-body">
         <ul class="nav nav-tabs" role="tablist">
           <li role="presentation" class="active"><a href="#supplier_login" aria-controls="supplier_login" role="tab" data-toggle="tab">登录</a></li>
           <li role="presentation"><a href="#supplier_register" aria-controls="supplier_register" role="tab" data-toggle="tab">注册</a></li>
           <li role="presentation"><a href="#supplier_forget_password" aria-controls="supplier_forget_password" role="tab" data-toggle="tab">忘记密码</a></li>
         </ul>
         <div class="tab-content">
           <div role="tabpanel" class="tab-pane active" id="supplier_login">
             <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
               <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email address" %><br>

               <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
               <%= f.submit "推荐方登录", :class => "btn btn-default btn-lg btn-block" %>
             <% end %>
           </div>
           <div role="tabpanel" class="tab-pane" id="supplier_register">
             <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>

               <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "邮箱" %>
               <br>
               <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "密码" %>
               <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "密码确认" %>
               <%= f.submit "推荐方注册", :class => "btn btn-default btn-lg btn-block" %>
             <% end %>
           </div>
           <div role="tabpanel" class="tab-pane" id="supplier_forget_password">
             <%= form_for(resource, as: resource_name, url: eval("#{resource_name.to_s}_password_path"), html: { method: :post, class: "form-signin" }) do |f| %>
               <h2 class="text-center">请输入您的注册邮箱地址，我们会发给您重置密码链接</h2>
               <div class="form-group">
                 <p class="form-control-static"><%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %></p>
               </div>
               <%= f.submit "发送确认邮件", :class => "btn btn-default btn-lg btn-block" %>
             <% end %>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>
