<div class="container pt30 pb48">
  <div class="text-center fs18">合作伙伴</div>
  <p>
    <div class="col-md-2 col-md-offset-2 text-center partner-logo">
      <%= link_to image_tag('kr_space'), 'http://space.36kr.com/', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= link_to image_tag('spaceyun'), 'http://www.spaceyun.com/', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= link_to image_tag('tusstar'), 'http://www.tusstar.com/', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= link_to image_tag('octopus_school'), 'http://www.uehtml.com/', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-2 text-center partner-logo">
      <%= link_to image_tag('huanxin'), 'http://www.easemob.com/', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= link_to image_tag('jidianjinrong'), 'https://www.scapitol.com', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= link_to image_tag('didi'), 'http://www.xiaojukeji.com/', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= link_to image_tag('huijiachifan'), 'http://www.jiashuangkuaizi.com/', target: '_blank' %>
    </div>
  </p>
</div>
<hr>
