<div class="row text-center">
  <h3>合作伙伴</h3>
  <div class="col-md-2 col-md-offset-2 text-center partner-logo">
    <%= link_to image_tag('partners/kr_space.jpg'), 'http://space.36kr.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-0 text-center partner-logo">
    <%= link_to image_tag('partners/spaceyun.jpg'), 'http://www.spaceyun.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-0 text-center partner-logo">
    <%= link_to image_tag('partners/tusstar.jpg'), 'http://www.tusstar.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-0 text-center partner-logo">
    <%= link_to image_tag('partners/octopus_school.jpg'), 'http://www.uehtml.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-2 text-center partner-logo">
    <%= link_to image_tag('partners/huanxin.jpg'), 'http://www.easemob.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-0 text-center partner-logo">
    <%= link_to image_tag('partners/jidianjinrong.jpg'), 'https://www.scapitol.com', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-0 text-center partner-logo">
    <%= link_to image_tag('partners/didi.jpg'), 'http://www.xiaojukeji.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-0 text-center partner-logo">
    <%= link_to image_tag('partners/huijiachifan.jpg'), 'http://www.jiashuangkuaizi.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-2 text-center partner-logo">
    <%= link_to image_tag('partners/mika.jpg'), 'http://www.micamika.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-0 text-center partner-logo">
    <%= link_to image_tag('partners/zaodian.jpg'), 'http://www.izaodiandao.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-0 text-center partner-logo">
    <%= link_to image_tag('partners/benlai.jpg'), 'http://www.benlai.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-0 text-center partner-logo">
    <%= link_to image_tag('partners/meidao.jpg'), 'http://www.emeidaojia.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-2 text-center partner-logo">
    <%= link_to image_tag('partners/dong_hot_pot.jpg'), 'http://www.donghg.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-0 text-center partner-logo">
    <%= link_to image_tag('partners/shunfeng.png'), 'http://www.sf-express.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-0 text-center partner-logo">
    <%= link_to image_tag('partners/hammer.jpg'), 'http://store.smartisan.com/', target: '_blank' %>
  </div>
  <div class="col-md-2 col-md-offset-0 text-center partner-logo">
    <%= link_to image_tag('partners/guanplus.png'), 'http://www.guanplus.com/', target: '_blank' %>
  </div>
</div>
<hr>
