<div class="container pt30 pb48">
  <div class="text-center"><h3>合作伙伴</h3></div><br>
  <p>
    <div class="col-md-2 col-md-offset-2 text-center partner-logo">
      <%= link_to image_tag('kr_space.jpg', :class => "img-circle"), 'http://space.36kr.com/', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= link_to image_tag('spaceyun.jpg', :class => "img-circle"), 'http://www.spaceyun.com/', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= link_to image_tag('tusstar.jpg', :class => "img-circle"), 'http://www.tusstar.com/', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= link_to image_tag('octopus_school.jpg', :class => "img-circle"), 'http://www.uehtml.com/', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-2 text-center partner-logo">
      <%= link_to image_tag('huanxin.jpg', :class => "img-circle"), 'http://www.easemob.com/', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= link_to image_tag('jidianjinrong.jpg', :class => "img-circle"), 'https://www.scapitol.com', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= link_to image_tag('didi.jpg', :class => "img-circle"), 'http://www.xiaojukeji.com/', target: '_blank' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= link_to image_tag('huijiachifan.jpg', :class => "img-circle"), 'http://www.jiashuangkuaizi.com/', target: '_blank' %>
    </div>
  </p>
</div>
<hr>
