<%= form_for(@resource, as: @resource_name, url: registration_path(@resource_name), html: {class: "form-horizontal"}) do |f| %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.email_field :email, autofocus: true, :class => "form-control input-lg", :placeholder => "邮箱" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.password_field :password, autocomplete: "off", :class => "form-control input-lg ", :placeholder => "密码" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
    <input type="checkbox" name="" value="1" checked/>&nbsp;<span style="color:azure">我已阅读并同意<%= link_to "《用户服务协议》", custom_agreement_path, target: '_blank' %></a></span>
  </div>
  </div>
  <%= f.submit "注册", :class => "btn btn-primary btn-lg btn-block" %>
<% end %>
