<div class="front_image_supplier">
  <br><br><br><br><br><br>
  <div class="col-md-offset-1 col-md-5">
    <div class="">
      <H1>
        <p class="text-white" style="font-size:52px;"><b>众聘达人<b></p>
      </H1 >
      <H2>
        <p class="text-primary">我们帮助您<b><span style="font-size:40px;">&nbsp;挖&nbsp;</span></b>到最优秀的人才</p>
      </H2 >
      <H2>
        <p class="text-primary">您也可以用闲置简历帮助我们并<b><span style="font-size:36px;">&nbsp;变现&nbsp;</span></b></p>
      </H2>
      <br>
    </div>
  </div>
  <%= render "register" %>
</div>
<%= render "how_to_use" %>
<%= render "customer_examples" %>
<%= render "partner" %>
<%= render "contact" %>
<%= render "/home/modal_supplier_login" %>
