<b>
  <div class="front_image">
    <div class="container">
      <br>
      <div class="col-md-offset-1 col-md-5">
        <div class="">
          <H1>
            <p class="text-white" style="font-size:52px;"><b>众聘达人<b></p>
          </H1 >
          <H2>
            <p class="text-white">招聘领域的<b><span style="font-size:40px;">&nbsp;滴滴&nbsp;</span></b></p>
          </H2 >
          <br>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-2">
      <div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a style="font-size:19px;" class="text-primary" href="#supplier" aria-controls="supplier" role="tab" data-toggle="tab">推荐方注册</a></li>
          <li role="presentation" class=""><a style="font-size:19px;" class="text-primary" href="#recruiter" aria-controls="recruiter" role="tab" data-toggle="tab">招聘方注册</a></li>
        </ul>
        <br>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active fade in" id="supplier">
            <% @resource = Supplier.new; @resource_name = "supplier" %>
            <%= render "signup" %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="recruiter">
            <% @resource = Recruiter.new; @resource_name = "recruiter" %>
            <%= render "signup" %>
          </div>
        </div>
        <br><br>
        <div class="text-white">已有账号？<%= link_to "直接登录", "users/sign_in", :class => "btn btn-success btn-lg" %></div>
        <br><br>
        <br>
      </div>
      <br>
    </div>
  </div>
  <%= render "customer_examples" %>
  <%= render "partner" %>
  <%= render "contact" %>
</b>
