<%= content_for :styles do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>
<b>
  <div class="front_image">
    <div class="container">
      <br><br><br><br><br>
      <%= render "slogon" %>
      <%= render "register", resource_name: @resource_name %>
    </div>
  </div>
</b>
<br>
<div class="container marketing">
  <%= render "high_priority_jobs" %>
  <%= render "interviews" %>
  <%= render "partner" %>
  <%= render "contact" %>
</div>

