<b>
  <div class="front_image">
    <div class="container">
      <br><br><br><br><br><br>
      <div class="col-md-offset-0 col-md-5">
        <div>
          <H1>
            <p class="text-white" style="font-size:52px;"><b>众聘达人</b></p>
          </H1>
          <H2>
            <p class="text-primary">推荐优质<span style="font-size:36px;">&nbsp;简历&nbsp;</span></p>
          </H2>
          <H2>
            <p class="text-primary">获得企业<span style="font-size:36px;">&nbsp;悬赏</span></p>
          </H2>
          <br>
        </div>
      </div>
      <%= render "register" %>
    </div>
  </div>
  <%= render "how_to_use" %>
  <%= render "customer_examples" %>
  <%= render "partner" %>
  <%= render "contact" %>
</b>
<div class='dingyuehao text-center'>
  <%= image_tag 'dingyuehao.jpg'%>
  <p>众聘达人订阅号</p>
</div>

