<%= image_tag 'front_image', class: "img-responsive" %>

<div class="jumbotron jumbotron-bgc">
  <div class="container">
    <div class="row text-center">
      <div class="role-entity">
        <%= image_tag 'recruiter.png' %>
        <div>
          <p class="title">招聘方</p>
          <p class="descrition">
            如果你是相对早期的公司，为有限的人才来源烦恼，这里众多的HR和业内资深人士将为你推荐大量优秀可靠成功率高的简历。
          </p>
          <p class="more">
            <a href="/recruiters/sign_in" role="button">了解更多 &raquo;</a>
          </p>
        </div>
      </div>

      <div class="role-entity">
        <%= image_tag 'supplier.png' %>
        <div>
          <p class="title">推荐方</p>
          <p class="descrition">
            你可以是人力资源工作者、招聘专员、掌握大量简历的业内资深人士也可以是猎头。这里碎片化的时间将为你带来足够的收益。
          </p>
          <p class="more">
            <a href="/suppliers/sign_in" role="button">了解更多 &raquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt48 pb48">
  <div class="text-center fs18">合作伙伴</div>
  <p>
    <div class="col-md-8 col-md-offset-2 fs14 lh20 text-center mb20">
      协助推进核区中小微企业综合服务平台各服务机构的协调与合作，发挥各自所长并形成合力，共同推进服务平台业务及服务内容更快、更好的得到发展。
    </div>
  </p>
  <p>
    <div class="col-md-2 col-md-offset-2 text-center partner-logo">
      <%= image_tag 'kr_space' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= image_tag 'spaceyun' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= image_tag 'tusstar' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= image_tag 'octopus_school' %>
    </div>
  </p>
</div>
<hr>

<div class="container">
  <p>
    <div class="col-md-4 col-md-offset-2">
      联系我们<br>
      地址: 中关村东路1号清华园科技大厦D座启迪之星孵化器<br>
      电话: 13061101022<br>
      邮箱: wade.song@foxmail.com<br>
      网址: www.zpdaren.com<br>
    </div>
    <div class="col-md-2 col-md-offset-2"><%= image_tag "qrcode.jpg" %></div>
  </p>
</div>
<br>
