<div class="front_image_supplier">
  <br>
  <div class="col-md-offset-1 col-md-5">
    <div class="">
      <H1>
        <p class="text-white" style="font-size:52px;"><b>众聘达人<b></p>
      </H1 >
      <H2>
        <p class="text-white">招聘领域的<b><span style="font-size:40px;">&nbsp;滴滴&nbsp;</span></b></p>
      </H2 >
      <br>
    </div>
  </div>
  <%= render "register" %>
  <br>
  <div class="col-md-4 col-md-offset-2">
    <%= link_to "我要招聘", home_recruiter_path, :class => "btn btn-success btn-lg" %>
  </div>
</div>
<%= render "customer_examples" %>
<%= render "partner" %>
<%= render "contact" %>
<%= render "/home/modal_supplier_login" %>
