<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>公司名称</th>
        <th>联系电话</th>
        <th>联系邮箱</th>
        <th>公司描述</th>
        <th>删除</th>
      </tr>
    </thead>
    <tbody>
      <% companies.each do |company| %>
        <tr>
          <td><%= link_to company.name, admins_company_path(company.id) %></td>
          <td><%= company.mobile %></td>
          <td><%= company.recruiter.email %></td>
          <td><%= truncate(company.description, length: 30) %></td>
          <td>
            <%= button_to '删除', admins_user_path(company.recruiter), method: :delete, data: { confirm: "是否删除招聘方#{company.name}？", disable_with: '提交中...'}, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>