<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>联系邮箱</th>
        <th>简历数量</th>
        <th>推荐数量</th>
        <th>注册时间</th>
        <th>最后一次登录时间</th>
      </tr>
    </thead>
    <tbody>
      <% suppliers.each do |supplier| %>
        <tr>
          <td><%= link_to supplier.email, admins_supplier_path(supplier) %></td>
          <td><%= link_to supplier.resumes.count, admins_resumes_path(:supplier_id => supplier) %></td>
          <td><%= link_to supplier.deliveries.count, admins_deliveries_path(:supplier_id => supplier) %></td>
          <td><%= supplier.created_at.localtime.to_s(:db) %></td>
          <td><%= supplier.current_sign_in_at.present? ? supplier.current_sign_in_at.localtime.to_s(:db) : '未曾登录过' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
