<%= render 'shared/page_title', title: '用户列表' %>
<br>
<ul class="nav nav-tabs">
  <% active = (params[:type] == "Recruiter") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "招聘方<span class='badge'>#{Company.active.count}</span>".html_safe, admins_users_path(:type => "Recruiter") %>
  </li>
  <% active = (params[:type] == "Supplier") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "推荐方<span class='badge'>#{Supplier.count}</span>".html_safe, admins_users_path(:type => "Supplier") %>
  </li>
  <% active = params[:type].nil? ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "所有用户<span class='badge'>#{User.count}</span>".html_safe, admins_users_path() %>
  </li>
</ul>
<br>

<% if params[:type] == 'Recruiter' %>
  <%= render 'companies', companies: @companies %>
<% elsif params[:type] == 'Supplier' %>
  <%= render 'suppliers', suppliers: @suppliers %>
<% else %>
  <%= render 'users', users: @users %>
<% end %>
<%= render 'shared/paginate', objs: @companies || @suppliers || @users %>
