<%= form_for resume, url: suppliers_resumes_path do |f| %>
  <%= hidden_field_tag 'job_id', job_id if job_id %>
  <p>
    <%= f.text_field 'candidate_name', class: "form-control", :placeholder => "候选人姓名(必填)" %>
  </p>
  <p>
    <%= f.text_field 'mobile', class: 'form-control', :placeholder => '候选人手机号码(必填)' %>
  </p>
  <p>
    <%= render '/shared/tag' %>
  </p>
  <p>
    标签：
  </p>
  <p>
    <%= f.text_field :tag_list, value: resume.tag_list.to_s, class: 'form-control auto-tags' %>
  </p>
  <div class="checkbox">
    <label>
      <%= f.check_box :auto_delivery, {checked: false} %> 设置自动托管（如果设置，之后一旦有匹配的职位出现，您的简历会被自动推荐。您将会收到更多的简历红包和入职红包。）
    </label>
  </div>
  <p>
    <%= f.file_field 'attachment', style: "display:inline;width:160px;float:left;" %><span style="color:red;font-size:12px;">请上传pdf、doc、docx、xlsx格式的简历</span>
  </p>
  <p>
    <%= f.text_field 'message', class: 'form-control', :placeholder => '给招聘方留言...(选填，50字内)' %>
  </p>
  <p>
    <%= f.submit '上传', class: "btn btn-primary active", data: { disable_with: '提交中...' } %>
  </p>
<% end %>
