<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>姓名</th>
        <th>标签</th>
        <th>已推荐给</th>
        <th>奖励</th>
        <th>简历原件</th>
      </tr>
    </thead>
    <tbody>
      <% resumes.each do |resume| %>
        <tr>
          <td><%= resume.candidate_name %></td>
          <td><%= resume.tag_list %></td>
          <td>
          <% resume.deliveries.map(&:job).each do |job| %>
            <%= link_to truncate("#{job.company_name}: #{job.title}"), suppliers_job_path(job), :target => "_blank" %> &nbsp;<br>
          <% end %>
          </td>
          <td>获得红包<%= resume.resume_bonus %>元</td>
          <td><%= link_to "下载", original_resume_download_admins_resume_path(resume[:id]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>