<%= render 'job', job: @job %>
<%= render 'suppliers/shared/search', title: '我的简历', url: select_list_suppliers_resumes_path(), placeholder: '被推荐人、标签', search_fields: 'candidate_name_or_tags_name_cont' %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>被推荐人</th>
        <th>标签</th>
        <th>简历原件</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <% @resumes.each do |resume| %>
        <tr>
          <td><%= resume.candidate_name %></td>
          <td><%= resume.tag_list %></td>
          <td><%= link_to resume.attachment.current_path.split('/')[-1], download_suppliers_resume_path(resume) %></td>
          <td>
            <% if resume.deliveried?(@job) %>
              已推荐
            <% else %>
              <%= link_to '推荐', new_suppliers_delivery_path(job_id: params[:job_id], resume_id: resume.id), class: 'btn btn-primary btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'shared/paginate', objs: @resumes %>
