<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>金额</th>
        <th>创建时间</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <% @drawings.each do |drawing| %>
        <tr>
          <td><%= drawing.money %>元</td>
          <td><%= drawing.created_at.localtime.to_date.to_s(:db) %></td>
          <td>
            <%= drawing.state_show %>
            <% if drawing.submitted? %>
              <%= link_to '同意', review_admins_drawing_path(drawing, opt: 'agree'), method: :put, class: 'btn btn-success' %>
              <%= link_to '拒绝', review_admins_drawing_path(drawing, opt: 'refuse'), method: :put, class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
