<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>职位名称</th>
        <th>公司名称</th>
        <th>发布时间</th>
        <th>简历推荐</th>
        <th>操作/状态</th>
      </tr>
    </thead>
    <tbody>
      <% jobs.each do |job| %>
        <tr>
          <td><s class="gray-light"><%= job.title %></s></td>
          <td><%= link_to job.company_name, admins_company_path(job.company) %></td>
          <td><%= job.created_at.localtime.to_date.to_s(:db) %></td>
          <td><%= job.resume_status %></td>
          <% flag = job.finished_approve_today? ? "label-success" : "label-danger" %>
          <td>
            <%= Recruiters::JobsHelper::state_show(job) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
