<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>职位名称</th>
        <th>公司名称</th>
        <th>发布时间</th>
        <th>简历推荐</th>
        <th>今日简历推荐</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <% jobs.each do |job| %>
        <tr>
          <td>
            <% if job.priority == 1 %>
              <i class="fa fa-fire hot-fire"></i>
            <% end %>
            <%= link_to job.title, admins_job_path(job.id) %>
            <%= select_tag "job_priority", options_for_select([['高优先级', 1], ['中优先级', 2], ['低优先级', 3]], job.priority || 3), class: 'job-priority-sel', id: job.id, onchange: 'changePriority(this);' %>
          </td>
          <td><%= link_to job.company_name, 'javascript:void(0);', "data-toggle" => "popover", "data-trigger" => "focus", "data-placement" => "bottom", "data-content" => job.company_description %></td>
          <td><%= job.created_at.localtime.to_date.to_s(:db) %></td>
          <td><%= job.resume_status %></td>
          <% flag = job.finished_approve_today? ? "label-success" : "label-danger" %>
          <td>
            <span class="label <%= flag %> label-as-badge"><%= job.deliveries.approved_today.count %>/8 </span>&nbsp;<%= link_to "审核推荐", admins_job_deliveries_path(:job_id => job), class: "btn btn-primary btn-sm" if (!job.finished_approve_today? && (job.deliveries.recommended.size > 0) ) %>
          </td>
          <td>
            <%= Recruiters::JobsHelper::state_show(job) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
