<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>职位名称</th>
        <th>简历数量</th>
        <th>
          <%= sortable '红包', 'bonus' %>
          <% if sort_column == 'bonus' %>
            <% if sort_direction == 'DESC' %>
              <i class="fa fa-caret-down"></i>
            <% else %>
              <i class="fa fa-caret-up"></i>
            <% end %>
          <% end %>
        </th>
        <th>
          <%= sortable '发布时间', 'created_at' %>
          <% if sort_column == 'created_at' %>
            <% if sort_direction == 'DESC' %>
              <i class="fa fa-caret-down"></i>
            <% else %>
              <i class="fa fa-caret-up"></i>
            <% end %>
          <% end %>
        </th>
        <th>操作/状态</th>
      </tr>
    </thead>
    <tbody>
      <% jobs.each do |job| %>
        <tr>
          <td><%= link_to job.title, edit_admins_job_path(job.id) %></td>
          <td><%= job.resumes.count %></td>
          <td><%= job.bonus %></td>
          <td><%= job.created_at.localtime.to_s(:db) %></td>
          <td>
            <% if job.deposit_paid? %>
              <%= link_to "审核", edit_admins_job_path(job.id), class: "btn btn-primary" %>
            <% else  %>
              <%= Recruiters::JobsHelper::state_show(job) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
