<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>职位名称</th>
        <th>发布时间</th>
        <th>简历推荐</th>
        <% if params[:state] == "in_hiring" %><th>今日简历推荐</th><% end %>
        <th>操作/状态</th>
      </tr>
    </thead>
    <tbody>
      <% jobs.each do |job| %>
        <tr>
          <td><%= link_to "【#{job.company_name}】#{job.title}", admins_job_path(job.id) %></td>
          <td><%= job.created_at.localtime.to_date.to_s(:db) %></td>
          <td><%= job.deliveries.after_approved.count %> / <%= job.deliveries.count %></td>
          <% if job.in_hiring? %>
            <% flag = job.finished_approve_today? ? "label-success" : "label-danger" %>
            <% if params[:state] == "in_hiring" %>
              <td><span class="label <%= flag %> label-as-badge"><%= job.deliveries.approved_today.count %>/8 </span>&nbsp;<%= link_to "审核推荐", admins_job_deliveries_path(:job_id => job), class: "btn btn-primary btn-sm" unless job.finished_approve_today? %></td>
            <% end %>
          <% end %>
          <td>
            <%= Recruiters::JobsHelper::state_show(job) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
