<div class="row">
  <%= link_to "职位列表", admins_jobs_path %>/审核职位
  <p>
    <%= form_for @job, url: admins_job_path do |f| %>
      <p>
        <%= f.text_field :title, class: "form-control", placeholder: "职位名称" %>
      </p>
      <p>
        <%= f.text_area :description, class: "form-control", placeholder: "职位描述", rows: 10 %>
      </p>
      <p>
        <%= render '/shared/tag' %>
      </p>
      <p>
        <%= f.text_field :tag_list, value: @job.tag_list.to_s, class: 'form-control auto-tags' %>
      </p>
      <p>
        <% if @job.editable? %>
          <%= f.submit "修改并通知用户", class: "btn btn-primary", data: { disable_with: '提交中...' } %>
        <% end %>
      </p>
    <% end %>
  </p>
</div>
