<%= render 'admins/shared/search', title: '职位列表', url: admins_jobs_path, placeholder: '职位名称、公司名称', search_fields: 'title_or_company_name_cont', q: @q %>

<ul class="nav nav-tabs">
  <% active = (params[:state] == "high_priority") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "最高优先级的招聘<span class='badge'>#{active.present? ? @jobs.count : current_admin.find_jobs_count_by_state('high_priority')}</span>".html_safe, admins_jobs_path(:state => "high_priority") %>
  </li>
  <% active = (params[:state] == "in_hiring") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "进行中的招聘<span class='badge'>#{active.present? ? @jobs.count : current_admin.find_jobs_count_by_state('in_hiring')}</span>".html_safe, admins_jobs_path(:state => "in_hiring") %>
  </li>
  <% active = (params[:state] == "submitted") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "未付定金的招聘<span class='badge'>#{active.present? ? @jobs.count : current_admin.find_jobs_count_by_state('submitted')}</span>".html_safe, admins_jobs_path(:state => "submitted") %>
  </li>
  <% active = (params[:state] == "un_hiring") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "已完成的招聘<span class='badge'>#{active.present? ? @jobs.count : current_admin.find_jobs_count_by_state('un_hiring')}</span>".html_safe, admins_jobs_path(:state => "un_hiring") %>
  </li>
  <% active = (params[:state] == "deleted") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "已删除的招聘<span class='badge'>#{active.present? ? @jobs.count : current_admin.find_jobs_count_by_state('deleted')}</span>".html_safe, admins_jobs_path(:state => "deleted") %>
  </li>
</ul>
<br>
<%= render 'label' %>
<% if params[:state] == "un_hiring" %>
  <%= render 'un_hiring_list', jobs: @jobs %>
<% elsif (params[:state] == "in_hiring" || params[:state] == 'high_priority') %>
  <%= render 'in_hiring_list', jobs: @jobs %>
<% elsif params[:state] == "deleted" %>
  <%= render 'deleted_list', jobs: @jobs %>
<% elsif params[:state] == "submitted" %>
  <%= render 'submitted_list', jobs: @jobs %>
<% end %>

<%= render 'shared/paginate', objs: @jobs %>
