<br>
<ol class="breadcrumb">
  <li>
    <%= link_to '职位列表', admins_jobs_path(:state => "in_hiring") %>
  </li>
  <li>
    <%= @job.title %>
  </li>
</ol>
<div class="container-fluid" style="padding-left:0px;">
  <div class="row">
    <div class="col-md-9">
      <%= render 'shared/job_show', job: @job %>
      <div class="panel-footer">
        <%= link_to "修改职位信息", edit_admins_job_path(@job), class: "btn btn-primary" %>
        <%= button_to '删除', admins_job_path(@job), method: :delete, data: { confirm: "是否删除职位【#{@job.title}】？删除后不可恢复!", disable_with: '提交中...'}, class: "btn btn-danger" %>
      </div>
    </div>

    <div class="col-md-3">
      <H2>
        <%= @job.company.name %>
      </H2 >
      <p>
        联系方式：
        <%= @job.company.mobile %>
      </p >
      <p class='blockquote14'>
        <strong>
          公司描述
        </strong>
      </p>
      <p>
        <div class='gray-light'>
          <%= simple_format @job.company.description %>
        </div>
      </p>
    </div>
  </div>
</div>
