<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>职位名称</th>
        <th>退款金额</th>
        <th>申请时间</th>
        <th>状态/操作</th>
      </tr>
    </thead>
    <tbody>
      <% @refund_requests.each do |refund_request| %>
        <tr>
          <td><%= link_to refund_request.job_title, admins_refund_request_path(refund_request) %></td>
          <td><%= refund_request.job_deposit %></td>
          <td><%= refund_request.job_created_at.localtime.to_date.to_s(:db) %></td>
          <td>
            <% if refund_request.submitted? %>
              <%= link_to "操作", admins_refund_request_path(refund_request), class: 'btn btn-success' %>
            <% else %>
              <%= refund_request.state_show %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
