<%= form_for resume, url: admins_resume_path, method: 'PUT' do |f| %>
  <%= f.hidden_field :delivery_id, value: params[:delivery_id] %>
  <p>
    <%= f.label '姓名' %>
    (
      <%= link_to '简历原件', download_admins_resume_path(resume[:id]) %>
    )
    <br />
    <%= f.text_field :candidate_name, class: 'form-control' %>
  </p>
  <p>
    <%= f.label '手机' %><br />
    <%= f.text_field :mobile, class: 'form-control' %>
  </p>
  <p>
    <%= f.label '邮箱' %><br />
    <%= f.text_field :email, class: 'form-control' %>
  </p>
  <p>
    <%= render '/shared/tag' %>
  </p>
  <p>
    <%= f.label '简历标签' %><br />
    <%= f.text_field :tag_list, value: resume.tag_list.to_s, class: 'form-control auto-tags' %>
  </p>
  <p>
    <%= f.label '工作经历、教育背景等描述' %><br />
    <%= f.text_area :description, class: 'form-control', rows: 20 %>
  </p>
  <p>
    <%= f.label '给招聘方的留言(50字内)' %>
    <%= f.text_field :message, class: 'form-control' %>
  </p>
  <p>
    <%= f.submit '保存', class: "btn btn-primary" %>
  </p>
<% end %>
