<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>被推荐人</th>
        <th>推荐人</th>
        <th>标签</th>
        <th>已推荐</th>
        <th>推荐时间</th>
        <% if params[:state] == "uncompleted" %>
          <th>操作</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% resumes.each do |resume| %>
        <tr>
          <td><%= link_to resume.candidate_name, admins_resume_path(resume.id) %></td>
          <td><%= resume.supplier.email %></td>
          <td><%= resume.tag_list %></td>
          <td>
            <% resume.jobs.each do |job| %>
            <%= link_to (job.company_name + " : " + job.title), 'javascript:void(0);', "data-toggle" => "popover", "data-trigger" => "focus", "data-placement" => "bottom", "data-content" => job.description %>
              <br>
            <% end %>
          </td>
          <td><%= resume.created_at.localtime.to_date.to_s(:db) %></td>
          <td>
            <% if resume.may_improve? %>
              <%= link_to '完善简历', edit_admins_resume_path(resume), class: 'btn btn-primary btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
