<br>
<div>
  <ol class="breadcrumb">
    <li>
      <%= link_to '简历列表', admins_resumes_path(state: 'uncompleted') %>
    </li>
    <li>
      简历详情
    </li>
  </ol>
  <%= render 'shared/page_title', title: @resume.candidate_name %>
  <p>
    <% @resume.tag_list.each do |tag| %>
      <i class="fa fa-tags"></i>
      <span class='gray-light'><%= tag %></span>
    <% end %>
  </p>
  <p>
    <strong>联系电话：</strong>
    <span class='gray-light'><%= @resume.mobile %></span>
  </p>
  <p>
    <strong>邮箱：</strong>
    <span class='gray-light'><%= @resume.email.present? ? @resume.email : '暂未提供' %></span>
  </p>
  <p><%= link_to '简历原件下载', download_admins_resume_path(@resume.id) %></p>
  <hr>
  <p class='blockquote17'>
    <strong>
      简历详情
    </strong>
  </p>
  <p>
    <% if @resume.is_pdf? %>
      <%= render 'shared/show_pdf', pdf_url: (@resume.pdf_attachment.present? ? pdf_download_admins_resume_path(@resume) : download_admins_resume_path(@resume)) %>
    <% else %>
      <div class="gray-light"><%= simple_format @resume.description.present? ? @resume.description : '简历详情还没有内容，赶快去完善吧！' %></div>
    <% end %>
  </p>
  <hr>
  <p>
    <%= link_to '完善', edit_admins_resume_path(@resume), class: 'btn btn-primary' %>
  </p>
</div>
