<%= render 'suppliers/shared/search', title: '我的推荐', url: suppliers_deliveries_path, placeholder: '输入公司名称' %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>公司</th>
        <th>职位</th>
        <th>被推荐人</th>
        <th>推荐时间</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <% @deliveries.each do |delivery| %>
        <tr>
          <td><%= link_to delivery.job.company.name, suppliers_jobs_path(recruiter_id: delivery.job.recruiter.id) %></td>
          <td><%= link_to truncate(delivery.job_title), suppliers_job_path(delivery.job) %></td>
          <td><%= delivery.resume_candidate_name %></td>
          <td><%= delivery.created_at.localtime.to_date.to_s(:db) %></td>
          <td>
            <p>
              <%= Suppliers::DeliveriesHelper.state_show(delivery) %>
              <% if delivery.refused? && delivery.rejection %>
                <a class="resumesForJob" tabindex="0" data-placement="bottom" role="button" data-toggle="popover" data-trigger="focus" data-content="<%= (delivery.rejection_reason || []).push(delivery.rejection_other).each {|reason| p reason }.join(',') %>" title="">原因</a>
              <% end %>
            </p>
            <p>
              <%= delivery.read_at.strftime("%Y-%m-%d %H:%m") if delivery.read? %>
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'shared/paginate', objs: @deliveries %>
