<ol class="breadcrumb">
  <li><%= link_to "我收到的职位", suppliers_jobs_path(:state => 'max_priority') %></li>
  <li><%= link_to "为【#{@job.company_name}--#{@job.title}】推荐", suppliers_job_path(@job) %></li>
</ol>

<div class="col-md-6">
  <H2>
    <%= @job.title %>
  </H2 >
  <p>
    <i class="fa fa-tags"></i>
    <%= @job.tag_list.each{|tag|}.join(' ') %>
  </p>
  <p>
    <%= render 'shared/salary_show', job: @job %>
  </p>
  <h3>职位描述</h3>
  <div class="markdown">
    <%= markdown @job.description %>
  </div>
</div>
<div class="col-md-6">
  <H2>
    <%= @resume.candidate_name %>
  </H2 >
  <p>
    <i class="fa fa-tags"></i>
    <%= @resume.tag_list.each{|tag|}.join(' ') %>
  </p>
  <p>
    <%= render 'suppliers/shared/resume_show', resume: @resume %>
  </p>
</div>
<div class="col-md-10">
</div>
<div class="col-md-6">
  <hr>
  <%= form_for @delivery, url: suppliers_deliveries_path, method: 'POST' do |f| %>
    <%= hidden_field_tag 'delivery[job_id]', params[:job_id] || params[:delivery][:job_id] %>
    <%= hidden_field_tag 'delivery[resume_id]', params[:resume_id] || params[:delivery][:resume_id] %>
    <p>
      <%= f.label :message, '给招聘方留言...(选填，50字内)' %>
      <%= f.text_field :message, class: "form-control", :value => @resume.recent_delivery_message, maxlength: 50 %>
    </p>
    <p>
      <%= f.submit "确认", class: "btn btn-primary", data: { disable_with: '提交中...' } %>
    </p>
  <% end %>
</div>
