<p>
  <%= form_for job, url: recruiters_jobs_path, method: "POST" do |f| %>
    <p>
      <%= f.text_field :title, class: "form-control", placeholder: "职位名称" %>
    </p>
    <p>
      <%= f.text_area :description, class: "form-control", placeholder: "职位描述及薪资范围", rows: 10 %>
    </p>
    <p>
      <%= f.text_field :bonus, class: "form-control", placeholder: "红包", placeholder: "为了您尽快收到简历，建议初级人才红包设置不少于2000，中级人才不少于4000" %>
    </p>
    <p>
      <%= render '/shared/tag' %>
    </p>
    <p>
      <%= f.text_field :tag_list, class: 'form-control auto-tags' %>
    </p>
    <p>
      <%= f.submit "发布", class: "btn btn-primary" %>
    </p>
  <% end %>
</p>
