<%= form_for job || Job.new, url: url, method: method do |f| %>
  <p>
    <%= f.text_field :title, class: "form-control", placeholder: "职位名称" %>
  </p>
  <p>
    <%= f.text_area :description, class: "form-control", placeholder: "职位描述", rows: 10 %>
  </p>
  <p>
    <%= f.text_field :bonus, class: "form-control", placeholder: "红包" %>
  </p>
  <p>
    <%= f.text_field :tag_list, value: job.tag_list.to_s, class: 'form-control', placeholder: "简历标签(多个标签以','隔开)" %>
  </p>
  <p>
    <%= f.submit "发布", class: "btn btn-primary" %>
  </p>
<% end %>