<div>
  <%= form_for @job, url: deposit_pay_recruiters_job_path, method: 'PUT', html: { id: 'deposit_pay_form' } do |f| %>
    <%= f.hidden_field :id, value: @job.id %>
    <%= f.hidden_field :deposit, value: (@job.bonus * 0.2).to_i %>
  <% end %>
  <p class="lead"><%= @job.title %></p>

  <p>
    职位佣金：<%= @job.bonus %>
  </p>
  <p>
    预付押金：<%= (@job.bonus * 0.2).to_i %>
  </p>

  <p>
    <%= link_to '支付', 'javascript:void(0);', class: 'btn btn-danger', id: 'deposit_pay_btn' %>
    <%= link_to '取消', recruiters_jobs_path, class: 'btn btn-default' %>
  </p>
</div>
<script>
  $(function(){
    $('#deposit_pay_btn').click(function(){
      $('#deposit_pay_form').submit();
    });
  });
</script>
