<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>职位名称</th>
        <th>收到简历</th>
        <th>红包/订金</th>
        <th>创建时间</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>
            <% link_to_job = link_to truncate(job.title), recruiters_job_path(job) %>
            <% if job.in_hiring? %>
              <strong><%= link_to_job %></strong>
            <% else %>
              <%= link_to_job %>
            <% end %>
          </td>
          <td>
            <% if job.resumes.approved.count > 0 %>
              <%= link_to job.resumes.approved.count, recruiters_deliveries_path(:job_id => job) %>
            <% else %>
              <%= job.resumes.approved.count %>
            <% end %>
          </td>
          <td><%= job.bonus %> / <%= job.original_deposit %></td>
          <td><%= job.created_at.localtime.to_date.to_s(:db) %></td>
          <td>
            <%= Recruiters::JobsHelper::state_show(job) %>

            <%= link_to '预付订金', new_recruiters_deposit_path(job_id: job.id), class: "btn btn-primary" if job.submitted? %>
            <%= link_to '支付尾款', recruiters_final_payments_path(job_id: job.id), class: "btn btn-primary" if job.available_for_final_payment? %>
            <%= link_to '退款', new_recruiters_refund_request_path(job_id: job.id), class: "btn btn-primary" if job.may_refund? %>
            <%= link_to '下架', freeze_recruiters_job_path(job), class: "btn btn-primary", method: :put if job.submitted? %>
            <%= link_to '上架', active_recruiters_job_path(job), class: "btn btn-primary", method: :put if job.freezing? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  <%= link_to "发布新的职位", new_recruiters_job_path, class: "btn btn-primary btn-lg active", role: "button" %>
</p>
