<%= render 'recruiters/shared/search', title: '我发布的职位', url: recruiters_jobs_path, placeholder: '输入职位名称' %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>职位名称</th>
        <th>未查看的简历/收到的简历</th>
        <th>可查看简历数</th>
        <th>红包/订金</th>
        <th>创建时间</th>
        <th>状态/操作</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>
            <% link_to_job = link_to truncate(job.title), recruiters_job_path(job) %>
            <% if job.in_hiring? %>
              <strong><%= link_to_job %></strong>
            <% else %>
              <%= link_to_job %>
            <% end %>
          </td>
          <td>
            <%= link_to "#{job.unprocess_deliveries.count}/#{job.recruiter_watchable_deliveries.count}", recruiters_deliveries_path(:job_id => job) %>
          </td>
          <td><%= job.visible_resume_count %></td>
          <td><%= job.bonus %> / <%= job.original_deposit %></td>
          <td><%= job.created_at.localtime.to_date.to_s(:db) %></td>
          <td>
            <%= Recruiters::JobsHelper::state_show(job) %>

            <%= link_to '预付订金', new_recruiters_deposit_path(job_id: job.id), class: "btn btn-primary btn-sm" if job.submitted? %>
            <%= link_to '支付尾款', deliveries_list_recruiters_final_payments_path(job_id: job.id), class: "btn btn-primary btn-sm" if job.available_for_final_payment? %>
            <%#= link_to '退款', new_recruiters_refund_request_path(job_id: job.id), class: "btn btn-danger" if job.may_refund? %>
            <%#= link_to '下架', freeze_recruiters_job_path(job), class: "btn btn-primary", method: :put if job.submitted? %>
            <%#= link_to '上架', active_recruiters_job_path(job), class: "btn btn-primary", method: :put if job.freezing? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  <%= link_to "发布新职位", new_recruiters_job_path, class: "btn btn-primary", role: "button" %>
</p>
<%= render 'shared/paginate', objs: @jobs %>
