<br>
<ol class="breadcrumb">
  <li>
    <%= link_to "我发布的职位", recruiters_jobs_path %>
  </li>
  <li class="active">发布新职位</li>
</ol>
<%= render 'shared/page_title', title: '发布新职位' %>
<p>
  <%= form_for @job, url: recruiters_jobs_path, method: "POST", html: { onsubmit: "return salaryValidate()" } do |f| %>
    <p>
      <%= f.label :title, '职位名称' %>
      <span class='red-star'>*</span>
      <%= f.text_field :title, class: "form-control" %>
    </p>
    <div class='salary_range'>
      <label>月薪范围</label>
      <p>
        <span>最低月薪：</span>
        <%= f.text_field :salary_min, class: "form-control" %>
        <span>K</span>
        &nbsp;&nbsp;
        <span>最高月薪：</span>
        <%= f.text_field :salary_max, class: "form-control" %>
        <span>K</span>
      </p>
    </div>
    <p>
      <%= f.label :description, '职位描述' %>
      <span class='red-star'>*</span>
      <%= link_to "《职位描述规范》", good_job_description_path, target: '_blank' %>
      <%= f.text_area :description, class: "form-control", rows: 10 %>
    </p>
    <p>
      <%= f.label :bonus, '入职佣金' %>
      <span class='red-star'>*</span>
      <span class='fs12'>
        (为了您尽快收到简历，建议初级人才佣金设置不少于2000，中级人才不少于4000)
      </span>
      <%= f.text_field :bonus, class: "form-control" %>
    </p>
    <p>
      <%= render '/shared/tag' %>
    </p>
    <p>
      <%= f.label :tag_list, '职位标签' %>
      <span class='red-star'>*</span>
      <%= f.text_field :tag_list, value: @job.tag_list.to_s, class: 'form-control auto-tags' %>
    </p>
    <p>
      <%= f.submit "发布", class: "btn btn-primary", data: { disable_with: '提交中...' } %>
    </p>
  <% end %>
</p>
