<h1 class="page-header">公司信息</h1>

<div class="row placeholders">
  <%= form_for @job, url: recruiters_jobs_path do |f| %>
    <p>
      <%= f.text_field :title, class: "form-control", placeholder: "公司名称" %>
    </p>
    <p>
      <%= f.text_area :description, class: "form-control", placeholder: "职位描述", rows: 10 %>
    </p>
    <p>
      <%= f.text_field :bonus, class: "form-control", placeholder: "红包" %>
    </p>
    <p>
      <%= f.submit "发布", class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

