<br>
<ol class="breadcrumb">
  <li><%= link_to '我发布的职位', recruiters_jobs_path %></li>
  <li class="active"><%= @job.title %></li>
</ol>

<div>
  <%= render 'shared/page_title', title: @job.title %>
  <p>
    <% @job.tag_list.each do |tag| %>
      <i class="fa fa-tags"></i>
      <span class='gray-light'><%= tag %></span>
    <% end %>
  </p>
  <p>
    <strong>薪资范围：</strong>
    <span class='gray-light'>
      <% if (@job.salary_min == 0) || (@job.salary_max == 0) %>
        暂未提供
      <% else %>
        <%= @job.salary_min %>K-<%= @job.salary_max %>K
      <% end %>
    </span>
  </p>
  <p>
    <strong>职位佣金：</strong>
    <span class='gray-light'>
      <%= @job.bonus %>元
    </span>
  </p>
  <p class='blockquote17'>
    <strong>
      职位描述
    </strong>
  </p>
  <p>
    <div class="word-break gray-light">
      <%= simple_format @job.description %>
    </div>
  </p>
  <p>
    <%= link_to '编辑', edit_recruiters_job_path(@job), class: 'btn btn-primary' if @job.editable? %>
    <%= link_to '预付订金', new_recruiters_deposit_path(job_id: @job), class: "btn btn-primary" if @job.submitted? %>
  </p>
</div>
