<br>
<ol class="breadcrumb">
  <li><%= link_to '我发布的职位', recruiters_jobs_path %></li>
  <li class="active"><%= @job.title %></li>
</ol>

<%= render 'shared/job_show', job: @job %>

<div class="panel-footer">
  <%= link_to '编辑', edit_recruiters_job_path(@job), class: 'btn btn-primary' if @job.editable? %>
  <%= link_to '预付订金', new_recruiters_deposit_path(job_id: @job), class: "btn btn-primary" if @job.submitted? %>
</div>
