<div class="row title">
  <div class="col-lg-7">
    <div class="input-group">
      <h2 class='self-h2'>
        <strong><%= title %></strong>
      </h2>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <%= form_tag url, method: :get do %>
    <%= hidden_field_tag 'state', params[:state] if params[:state] %>
    <div class="col-lg-5">
      <div class="input-group search">
        <%= text_field_tag 'key', params[:key], class: 'form-control', placeholder: placeholder %>
        <span class="input-group-btn">
          <%= submit_tag '搜索', class: 'btn btn-default' %>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  <% end %>
</div><!-- /.row -->
