<%= render 'shared/page_title', title: '账户管理' %>
<div>
  <h3>基本信息</h3>
  <p class="ti2">
    邮箱：<%= current_supplier.email %>
  </p>
  <p class="ti2">
    手机号：<%= current_supplier.mobile? ? current_supplier.mobile : '暂未提供' %>
    <%= link_to("#{current_supplier.mobile? ? '修改' : '完善'}", "javascript:void(0);", "data-toggle" => "modal", "data-target" => "#aaaa") %>
  </p>
</div>
<div>
  <h3>账户余额</h3>
  <p class='ti2'><%= current_supplier.wallet_money %>元</p>
  <br>
  <p>
    <%= link_to "提现到支付宝", new_suppliers_withdraw_path, :class => "btn btn-primary" if current_supplier.wallet_money > 0 %>
  </p>
</div>

<%= render 'edit_mobile' %>
