<%= link_to '下载', new_resume_path(format: 'pdf') %>
<%= form_for @resume, html: { multipart: true } do |f| %>
  <%= flash[:error] %>
  <p>
    <%= f.label '被推荐人姓名：' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label '标签(*多个标签以","隔开)' %><br />
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.file_field :attachment %>
  </p>
  <p>
    <%= f.submit '保存'%>
  </p>
<% end %>