<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>被推荐人</th>
        <th>推荐人</th>
        <th>应聘职位</th>
        <th>公司</th>
        <th>操作时间</th>
        <%= sanitize("<th>状态/操作</th>") if params[:state].nil? || (params[:state] == "recommended") %>
        <%= sanitize("<th>原因</th>") if refused?(params[:state]) %>
      </tr>
    </thead>
    <tbody>
      <% deliveries.each do |delivery| %>
        <tr>
          <td>
            <%= link_to delivery.resume_candidate_name, admins_job_delivery_path(:job_id => delivery.job, :id => delivery), target: '_blank' %>
          </td>
          <td><%= delivery.supplier_email %></td>
          <td><%= link_to delivery.job_title, admins_job_path(delivery.job), target: '_blank' %></td>
          <td><%= link_to delivery.company_name, admins_company_path(delivery.company_id), target: '_blank' %></td>
          <td><%= delivery.updated_at.localtime.to_date.to_s(:db) %></td>
          <% if params[:state].nil? || (params[:state] == "recommended") %>
            <td>
              <% if delivery.recommended? && delivery.may_approve? %>
                <%= link_to '审核', edit_admins_job_delivery_path(:job_id => delivery.job, :id => delivery), class: 'btn btn-primary btn-sm', target: '_blank' %>
              <% else %>
                已审核
              <% end %>
            </td>
          <% end %>
          <%= sanitize("<td>#{delivery.rejection_reasons}</td>") if refused?(params[:state]) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
