<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>被推荐人</th>
        <th>推荐人</th>
        <th>应聘职位</th>
        <th>公司</th>
        <th>操作时间</th>
        <% if params[:state].nil? || params[:state] == "submitted" %><th>状态/操作</th><% end %>
        <% if params[:state] == "refused" %><th>原因</th><% end %>
      </tr>
    </thead>
    <tbody>
      <% deliveries.each do |delivery| %>
        <tr>
          <td><%= link_to delivery.resume_candidate_name, admins_job_delivery_path(:job_id => delivery.job, :id => delivery), target: '_blank' %></td>
          <td><%= delivery.supplier.email %></td>
          <td><%= link_to delivery.job_title, admins_job_path(delivery.job), target: '_blank' %></td>
          </td>
          <td><%= link_to delivery.job.company_name, admins_company_path(delivery.job.company_id), target: '_blank' %></td>
          <td><%= delivery.updated_at.localtime.to_date.to_s(:db) %></td>
          <% if params[:state].nil? || (params[:state] == "submitted") %>
            <td>
              <% if delivery.recommended? %>
                <%= link_to '审核', edit_admins_job_delivery_path(:job_id => delivery.job, :id => delivery), class: 'btn btn-primary btn-sm', target: '_blank' %>
              <% else %>
                已审核
              <% end %>
            </td>
          <% end %>
          <% if params[:state] == "refused" %>
            <td><%= (delivery.rejection_reason || []).push(delivery.rejection_other).each {|reason| p reason }.join(',') %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
