<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>被推荐人</th>
        <th>推荐人</th>
        <th>应聘职位</th>
        <th>推荐时间</th>
        <th>状态/操作</th>
      </tr>
    </thead>
    <tbody>
      <% deliveries.each do |delivery| %>
        <tr>
          <td><%= delivery.resume_candidate_name %></td>
          <td><%= delivery.supplier.email %></td>
          <td><%= "【#{delivery.job.company_name}】#{delivery.job_title}" %></td>
          </td>
          <td><%= delivery.created_at.localtime.to_s(:db) %></td>
          <td>
            <% if delivery.recommended? %>
              <%= link_to '审核', edit_admins_job_delivery_path(:job_id => delivery.job, :id => delivery), class: 'btn btn-primary btn-sm' %>
            <% else %>
              已审核
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
