<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>被推荐人</th>
        <th>推荐人</th>
        <th>应聘职位</th>
        <th>操作时间</th>
        <% if params[:state].nil? || params[:state] == "submitted" %><th>状态/操作</th><% end %>
      </tr>
    </thead>
    <tbody>
      <% deliveries.each do |delivery| %>
        <tr>
          <td><%= link_to delivery.resume_candidate_name, 'javascript:void(0);', "data-toggle" => "popover", "data-trigger" => "focus", "data-placement" => "bottom", "data-content" => delivery.resume_tag_list %></td>
          <td><%= delivery.supplier.email %></td>
          <td><%= link_to "【#{delivery.job.company_name}】#{delivery.job_title}", 'javascript:void(0);', "data-toggle" => "popover", "data-trigger" => "focus", "data-placement" => "bottom", "data-content" => delivery.job_description %></td>
          </td>
          <td><%= delivery.updated_at.localtime.to_date.to_s(:db) %></td>
          <% if params[:state].nil? || (params[:state] == "submitted") %>
            <td>
              <% if delivery.recommended? %>
                <%= link_to '审核', edit_admins_job_delivery_path(:job_id => delivery.job, :id => delivery), class: 'btn btn-primary btn-sm' %>
              <% else %>
                已审核
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
