<br>
<ol class="breadcrumb">
  <li><%= link_to "推荐列表", admins_job_deliveries_path(:job_id => @delivery.job, :state => 'recommended') %></li>
  <li><%= @delivery.resume_candidate_name %></li>
</ol>

<div class="col-md-6">
  <%= render 'shared/page_title', title: '职位' %>
  <h2>
    <%= @delivery.job_title %>
  </h2 >
  <p>
    <% @delivery.job_tag_list.each do |tag| %>
      <i class="fa fa-tags"></i>
      <span class='gray-light'><%= tag %></span>
    <% end %>
  </p>
  <p>
    <strong>公司：</strong>
     <span class='gray-light'>
      <%= link_to @company.name, admins_company_path(@company.id), target: '_blank' %>
    </span>
    <%= image_tag 'company_certificate_24.png' if @company.service_protocol? %>
  </p>
  <p>
    <%= render 'shared/salary_show', job: @delivery.job %>
  </p>
  <p>
    <strong>职位佣金：</strong>
    <span class='gray-light'>
      <%= @delivery.job.bonus %>元
    </span>
  </p>
  <p class='blockquote14'>
    <strong>
      职位描述
    </strong>
  </p>
  <div class="markdown">
    <%= markdown  @delivery.job_description %>
  </div>
  <hr>
  <h2>
    <%= @delivery.job.company.name %>
  </h2 >
  <p class='gray-light'>
    联系方式：
    <%= @delivery.job.company.mobile %>
  </p >
  <p class='blockquote14'>
    <strong>
      公司描述
    </strong>
  </p>
  <p>
    <div class='gray-light'>
      <%= simple_format @delivery.job.company.description %>
    </div>
  </p>
  <p class='gray-light'>地址：<%= @delivery.job.company.address.present? ? @delivery.job.company.address : '暂未提供' %></p>
</div>
<div class="col-md-6">
  <%= render 'shared/page_title', title: '推荐' %>
  <h2>
    <%= @delivery.resume_candidate_name %><%= "(请先完善简历)" if @delivery.resume.may_improve? %><%= "(暂时不找工作)" if @delivery.resume.unavailable? %>
  </h2 >
  <p>
    <%= @delivery.resume_mobile %>
  </p >
  <p>
    <% @delivery.resume_tag_list.each do |tag| %>
      <i class="fa fa-tags"></i>
      <span class='gray-light'><%= tag %></span>
    <% end %>
  </p>
  <p class='blockquote14'>
    <strong>
      简历描述
    </strong>
  </p>
  <p>
    <%= render 'shared/resume_show', resume: @delivery.resume, pdf_url: pdf_download_admins_resume_path(@delivery.resume), default: 'prompt' %>
  </p>
  <p>
    <%= sanitize("<strong>备注：</strong>#{@delivery.resume.remark}") if @delivery.resume.remark.present? %>
  </p>
</div>
<div class="col-md-10">
</div>
<div class="col-md-6">
  <hr>
  <%= form_for @delivery, url: admins_job_delivery_path, method: 'PUT' do |f| %>
    <p>
      <%= f.label :message, '给招聘方留言...(选填，50字内)' %>
      <%= f.text_area :message, class: "form-control", rows: 2 %>
    </p>
    <p>
      <%= f.submit "确认", class: "btn btn-primary", data: { disable_with: '提交中...' } %>
      <%= link_to '拒绝', new_admins_rejection_path(:delivery_id => @delivery.id), class: "btn btn-danger", target: '_blank' %>
    </p>
  <% end %>
</div>
