<br>
<ol class="breadcrumb">
  <li><%= link_to "推荐列表", admins_job_deliveries_path(:job_id => @delivery.job) %></li>
  <li><%= @delivery.resume_candidate_name %></li>
</ol>

<div class="col-md-5 default-bgc">
  <%= render 'shared/page_title', title: '职位' %>
  <H2>
    <%= @delivery.job_title %>
  </H2 >
  <p>
    <% @delivery.job_tag_list.each do |tag| %>
      <i class="fa fa-tags"></i>
      <span class='gray-light'><%= tag %></span>
    <% end %>
  </p>
  <p>
    <%= render 'shared/salary_show', job: @delivery.job %>
  </p>
  <p>
    <strong>职位佣金：</strong>
    <span class='gray-light'>
      <%= @delivery.job.bonus %>元
    </span>
  </p>
  <p class='blockquote14'>
    <strong>
      职位描述
    </strong>
  </p>
  <p>
    <%= simple_format  @delivery.job_description %>
  </p>
  <hr>
  <H2>
    <%= @delivery.job.company.name %>
  </H2 >
  <p class='gray-light'>
    联系方式：
    <%= @delivery.job.company.mobile %>
  </p >
  <p class='blockquote14'>
    <strong>
      公司描述
    </strong>
  </p>
  <p>
    <div class='gray-light'>
      <%= simple_format @delivery.job.company.description %>
    </div>
  </p>
</div>
<div class="col-md-6 col-md-offset-1 default-bgc">
  <%= render 'shared/page_title', title: '推荐' %>
  <H2>
    <%= @delivery.resume_candidate_name %><%= "(暂时不找工作)" unless @delivery.resume.available? %>
  </H2 >
  <p>
    <%= @delivery.resume_mobile %>
  </p >
  <p>
    <% @delivery.resume_tag_list.each do |tag| %>
      <i class="fa fa-tags"></i>
      <span class='gray-light'><%= tag %></span>
    <% end %>
  </p>
  <p class='blockquote14'>
    <strong>
      简历描述
    </strong>
  </p>
  <p>
    <% if @delivery.resume.is_pdf? %>
      <% if @delivery.resume.pdf_attachment.present? %>
        <%= render 'shared/show_pdf', pdf_url: pdf_download_admins_resume_path(@delivery.resume) %>
      <% else %>
        <br>
        <br>
        <div class='text-center gray-light'>
          简历描述还是空的，快去简历列表完善吧！
        </div>
        <br>
        <br>
      <% end %>
    <% else %>
      <% if @delivery.resume.description.present? %>
        <%= simple_format @delivery.resume.description %>
      <% else %>
        <br>
        <br>
        <div class='text-center gray-light'>
          简历描述还是空的，快去简历列表完善吧！
        </div>
        <br>
        <br>
      <% end %>
    <% end %>
  </p>
</div>
<div class="col-md-10">
</div>
<div class="col-md-6">
  <hr>
  <%= form_for @delivery, url: admins_job_delivery_path, method: 'PUT' do |f| %>
    <p>
      <%= f.label :message, '给招聘方留言...(选填，50字内)' %>
      <%= f.text_area :message, class: "form-control", rows: 2 %>
    </p>
    <p>
      <%= f.submit "确认", class: "btn btn-primary", data: { disable_with: '提交中...' } %>
    </p>
  <% end %>
</div>
