<ol class="breadcrumb">
  <li><%= link_to "职位列表", admins_jobs_path(:state => "in_hiring") %></li>
  <li><%= link_to "为【#{@delivery.job.title}】审核推荐", admins_job_deliveries_path(:job_id => @delivery.job) %></li>
  <li><%= @delivery.resume_candidate_name %></li>
</ol>

<div class="col-md-5">
  <H2>
    <%= @delivery.job_title %>
  </H2 >
  <p>
    <%= @delivery.job_tag_list %>
  </p>
  <p>
    <%= simple_format  @delivery.job_description %>
  </p>
  <hr>
  <H2>
    <%= @delivery.job.company.name %>
  </H2 >
  <p>
    <%= @delivery.job.company.mobile %>
  </p >
  <p>
    <%= simple_format @delivery.job.company.description %>
  </p>
</div>
<div class="col-md-5 col-md-offset-1">
  <H2>
    <%= @delivery.resume_candidate_name %>
  </H2 >
  <p>
    <%= @delivery.resume_tag_list %>
  </p>
  <p>
    <%= simple_format @delivery.resume.description %>
  </p>
</div>
<div class="col-md-10">
</div>
<div class="col-md-6">
  <hr>
  <%= form_for @delivery, url: admins_job_delivery_path, method: 'PUT' do |f| %>
    <p>
      <%= f.text_area :message, class: "form-control", placeholder: "给招聘方留言...(选填，50字内)", rows: 2 %>
    </p>
    <p>
      <%= f.submit "确认", class: "btn btn-primary" %>
    </p>
  <% end %>
</div>
