<% if params[:job_id] %>
  <ol class="breadcrumb">
    <li><%= link_to "职位列表", admins_jobs_path(:state => "in_hiring") %></li>
    <li>为【<%= Job.find(params[:job_id]).title %>】审核推荐</li>
  </ol>
<% else %>
  <%= render 'admins/shared/search', url: admins_deliveries_path, placeholder: '输入简历标签' %>
<% end %>
<%= render 'list', deliveries: @deliveries %>
<%= render 'shared/paginate', objs: @deliveries %>