<div class="table-responsive">
  <% if params[:job_id] %>
    <ol class="breadcrumb">
      <li>
        <%= link_to '职位列表', recruiters_jobs_path %>
      </li>
      <li>
        <%= link_to truncate(@job.title), recruiters_job_path(@job) %>
      </li>
      <li class="active">支付尾款</li>
    </ol>
  <% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>被推荐人</th>
        <th>简历状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @deliveries.each do |delivery| %>
        <% if delivery.resume && delivery.resume.approved? %>
          <tr>
            <td>
              <% if delivery.unread? %>
                <strong><%= delivery.resume_candidate_name %></strong>
              <% else %>
                <%= link_to(("#{delivery.resume_candidate_name}"), recruiters_delivery_path(delivery), :target => "_blank") %>
              <% end %>
            <td><%= Recruiters::DeliveriesHelper.state_show(delivery) %></td>
            <td>
              <%= link_to '支付', new_recruiters_final_payment_path(:delivery_id => delivery.id), class: 'btn btn-primary active' if delivery.available_for_final_payment? %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
