<br>
<ol class="breadcrumb">
  <li>
    <%= link_to '我发布的职位', recruiters_jobs_path %>
  </li>
  <li>
    <%= link_to truncate(@job.title), recruiters_job_path(@job) %>
  </li>
  <li>
    <%= link_to "推荐人", deliveries_list_recruiters_final_payments_path(:job_id => @job) %>
  </li>
  <li class="active">支付尾款</li>
</ol>
<%= render 'shared/page_title', title: '支付尾款' %>
<div>
  <p class="lead">请转账 <%= (@job.bonus_for_entry).to_i %>元作为成功招聘【<%= @job.title %>】的尾款，到【北京火花航程科技有限公司】的银行账号：<%= Admin.admin.bank_account %>  开户行：中国农业银行（北四环支行）。<br>完成后，请点击下面的转账完成确认按钮。</p>
  <%= button_to '转账完成', recruiters_final_payments_path(:delivery_id => @delivery.id), class: 'btn btn-primary', data: { disable_with: '提交中...' } %>
</div>
