<%= form_for Reject.new, url: recruiters_rejects_path do |f| %>
  <%= hidden_field_tag 'reject[delivery_id]', @delivery.id %>
  <p>
    拒绝原因：
  </p>
  <p>
    <%= check_box_tag 'reject[reason][]',  "工作经验不足" %>工作经验不足
  </p>
  <p>
    <%= check_box_tag 'reject[reason][]', "专业不对口" %>专业不对口
  </p>
  <p>
    <%= check_box_tag 'reject[reason][]', "年龄太大" %>年龄太大
  </p>
  <p>
    其他：
  </p>
  <p>
    <%= text_area_tag 'reject[other]', nil, class: "form-control", rows: 10 %>
  </p>
  <%= f.submit "提交", class: "btn btn-primary" %>
<% end %>