<!DOCTYPE html>
<html lang="en">
  <%= render partial: "/shared/head" %>
  <body>
    <%= render partial: "/shared/navbar" %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <% active = active_for?([Admins::JobsController]) %>
            <li class="<%= active %>"><%= link_to "职位列表#{badge_for_admin_for_all(Job.with_deleted)}".html_safe, admins_jobs_path(:state => "in_hiring") %></li>
            <% active = active_for?([Admins::DeliveriesController]) %>
            <li class="<%= active %>"><%= link_to "推荐列表#{badge_for_admin(Delivery)}".html_safe, admins_deliveries_path(:state => "submitted") %></li>
            <% active = active_for?([Admins::ResumesController]) %>
            <li class="<%= active %>"><%= link_to "简历列表#{badge_for_admin(Resume)}".html_safe, admins_resumes_path(:state => "uncompleted") %></li>
            <!-- <% active = active_for?([Admins::RefundRequestsController]) %>
            <li class="<%= active %>"><%= link_to "退款申请#{badge_for_admin(RefundRequest)}".html_safe, admins_refund_requests_path %></li> -->
            <% active = active_for?([Admins::MoneyTransfersController]) %>
            <li class="<%= active %>"><%= link_to "存款/提现确认#{badge_for_admin(MoneyTransfer)}".html_safe, deposits_admins_money_transfers_path %></li>
            <% active = active_for?([Admins::UsersController, Admins::CompaniesController]) %>
            <li class="<%= active %>"><%= link_to "用户列表#{badge_for_admin_for_all(User)}".html_safe, admins_users_path(type: 'Recruiter') %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= bootstrap_flash %>
          <% flash[:error], flash[:success] = nil, nil %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
