<!DOCTYPE html>
<html lang="en">
  <%= render partial: "/shared/head" %>
  <body>
    <%= render partial: "/shared/navbar" %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <% active = controller.class == Admins::JobsController ? "active" : "" %>

           <li class="<%= active %>">
             <%= link_to Job.waiting_approved.count > 0 ? "职位列表 <span class=\"badge\">#{Job.waiting_approved.count}</span>".html_safe : "职位列表", admins_jobs_path %>
           </li>

            <% active = controller.class == Admins::ResumesController ? "active" : "" %>
            <li class="<%= active %>">
              <%= link_to Resume.waiting_approved.count > 0 ? "简历列表 <span class=\"badge\">#{Resume.waiting_approved.count}</span>".html_safe : "简历列表", admins_resumes_path %>
            </li>


            <% active = controller.class == Admins::RefundRequestsController ? "active" : "" %>

            <li class="<%= active %>">
              <%= link_to RefundRequest.waiting_approved.count > 0 ? "退款申请 <span class=\"badge\">#{RefundRequest.waiting_approved.count}</span>".html_safe : "退款申请", admins_refund_requests_path %>
            </li>

            <% active = controller.class == Admins::DrawingsController ? "active" : "" %>
            <li class="<%= active %>">
              <%= link_to Drawing.waiting_approved.count > 0 ? "提现申请 <span class=\"badge\">#{Drawing.waiting_approved.count}</span>".html_safe : "提现申请", admins_drawings_path %>
            </li>
            <% active = controller.class == Admins::CompaniesController ? "active" : "" %>
            <li class="<%= active %>"><%= link_to "公司列表", admins_companies_path %></li>
            <% active = controller.class == Admins::UsersController ? "active" : "" %>
            <li class="<%= active %>"><%= link_to '用户列表', admins_users_path %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
