<!DOCTYPE html>
<html lang="en">
  <%= render partial: "/shared/head" %>
  <body>
    <%= render partial: "/shared/navbar" %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <% active = active_for?(Admins::JobsController) %>
            <li class="<%= active %>"><%= link_to "职位列表#{badge_for_admin(Job)}".html_safe, admins_jobs_path %></li>
            <% active = active_for?(Admins::ResumesController) %>
            <li class="<%= active %>"><%= link_to "简历列表#{badge_for_admin(Resume)}".html_safe, admins_resumes_path %></li>
            <% active = active_for?(Admins::RefundRequestsController) %>
            <li class="<%= active %>"><%= link_to "退款申请#{badge_for_admin(RefundRequest)}".html_safe, admins_refund_requests_path %></li>

            <% active = active_for?(Admins::MoneyTransfersController) %>
            <li class="<%= active %>"><%= link_to "存款/提现确认#{badge_for_admin(MoneyTransfer)}".html_safe, admins_money_transfers_path %></li>

            <% active = active_for?(Admins::CompaniesController) %>
            <li class="<%= active %>"><%= link_to "公司列表", admins_companies_path %></li>
            <% active = active_for?(Admins::UsersController) %>
            <li class="<%= active %>"><%= link_to '用户列表', admins_users_path %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= bootstrap_flash %>
          <% flash[:error], flash[:success] = nil, nil %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
