<!DOCTYPE html>
<html lang="en">
  <%= render partial: "/shared/head" %>
  <body>
    <%= render partial: "/shared/navbar" %>
    <% flash[:error], flash[:success] = nil, nil %>
    <%= yield %>
    <div class="container">
      <%= render "/shared/footer" %>
    </div>
    <%= render partial: "/shared/js" %>
    <%= render "/shared/cnzz" %>
  </body>
</html>
