<!DOCTYPE html>
<html lang="en">
  <%= render partial: "/shared/head" %>
  <body>
    <%= render partial: "/shared/navbar" %>
    <div class="container">
      <br>
      <ol class="breadcrumb">
        <li><%= link_to "为【#{@delivery.job.title}】审核推荐", admins_deliveries_path(:job_id => @delivery.job) %></li>
      </ol>

      <br><br>
      <div class="row">
        <div class="col-md-5">
          <%= yield :job_info %>
        </div>
        <div class="col-md-5 col-md-offset-2">
          <%= yield :resume_info %>
        </div>
        <div class="col-md-10">
          <br>
        </div>
        <div class="col-md-6">
          <%= yield :approvement %>
        </div>
      </div>
    </div>
  </body>
</html>
