<!DOCTYPE html>
<html lang="en">
  <%= render partial: "/shared/head" %>
  <body>
    <%= render partial: "/shared/navbar" %>
    <%= javascript_include_tag "suppliers/base" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <% active = active_for?([Suppliers::JobsController]) %>
            <li class="<%= active %>"><%= link_to "我收到的职位", suppliers_jobs_path %></li>
            <% active = active_for?([Suppliers::ResumesController]) %>
            <li class="<%= active %>"><%= link_to "我的简历", suppliers_resumes_path %></li>
            <% active = active_for?([Suppliers::DeliveriesController]) %>
            <li class="<%= active %>"><%= link_to "我的推荐", suppliers_deliveries_path(:state => 'recommended') %></li>
            <% active = active_for?([Suppliers::BaseController]) %>
            <li class="<%= active %>"><%= link_to "账户管理", suppliers_path %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= bootstrap_flash %>
          <% flash[:error], flash[:success] = nil, nil %>
          <br>
          <ol class="breadcrumb">
            <li>
              <%= link_to '我收到的职位', suppliers_jobs_path(:state => 'high_priority') %>
            </li>
            <li class="active">
              <%= @job.title %>
            </li>
          </ol>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-9" style="padding-left:0px;">
                <div class="blog-post">
                  <%= yield :job_info %>
                </div>
              </div><!-- /.blog-main -->
              <div class="col-sm-3 blog-sidebar" style="margin-top:-15px;">
                <div class="sidebar-module">
                  <%= yield :other_job_info %>
                </div>
              </div><!-- /.blog-sidebar -->

            </div><!-- /.row -->

          </div><!-- /.container -->
        </div>
      </div>
    </div>
    <%= render "/shared/cnzz" %>
    <%= render partial: "/shared/js" %>
  </body>
</html>
