<!DOCTYPE html>
<html lang="en">
  <%= render partial: "/shared/head" %>
  <body>
    <%= render partial: "/shared/navbar" %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <% active = active_for?([Recruiters::JobsController, Recruiters::FinalPaymentsController, Recruiters::DepositsController]) %>
            <li class="<%= active %>"><%= link_to "我发布的职位#{badge_for_recruiter_jobs(current_recruiter)}".html_safe, recruiters_jobs_path(:state => 'submitted') %></li>
            <% active = active_for?([Recruiters::DeliveriesController]) %>
            <li class="<%= active %>"><%= link_to "推荐给我的简历#{badge_for_recruiter_deliveries(current_recruiter)}".html_safe, recruiters_deliveries_path %></li>
            <% active = active_for?([Recruiters::BaseController, Recruiters::CompaniesController, Recruiters::WithdrawsController]) %>
            <li class="<%= active %>"><%= link_to "账户管理", recruiters_path %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "/shared/footer" %>
  </body>
</html>
