<!DOCTYPE html>
<html lang="en">
  <%= render partial: "/shared/head" %>
  <body>
    <%= render partial: "/shared/navbar" %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <% active = controller.class == Suppliers::JobsController ? "active" : "" %>
            <li class="<%= active %>"><%= link_to "职位列表", suppliers_jobs_path %></li>
            <% active = controller.class == Suppliers::ResumesController ? "active" : "" %>
            <li class="<%= active %>"><%= link_to "我的简历列表", suppliers_resumes_path %></li>
            <li><a href="#">统计信息</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- http://getbootstrap.com/getting-started/ -->
<%= console unless Rails.env == "production" %>
