<!DOCTYPE html>
<html lang="en">
  <%= render partial: "/shared/head" %>
  <body>
    <%= render partial: "/shared/navbar" %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <% active = controller.class == Suppliers::JobsController ? "active" : "" %>
            <li class="<%= active %>"><%= link_to "我收到的职位", suppliers_jobs_path %></li>
            <% active = [Suppliers::ResumesController, Suppliers::DeliveriesController].include?(controller.class) ? "active" : "" %>
            <li class="<%= active %>"><%= link_to "我上传的简历", suppliers_resumes_path %></li>
            <% active = controller.class == Suppliers::UsersController ? "active" : "" %>
            <li class="<%= active %>"><%= link_to "个人中心", suppliers_user_path(current_supplier) %></li>
            <% active = controller.class == Suppliers::DrawingsController ? "active" : "" %>
            <li class="<%= active %>"><%= link_to "提现历史", suppliers_drawings_path %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
<%= console unless Rails.env == "production" %>
