<div class="modal fade" id="newResumeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">新建简历</h4>
      </div>
      <div class="modal-body">
        <%= form_for Resume.new, url: suppliers_resumes_path do |f| %>
          <%= hidden_field_tag 'job_id', job.id if defined?(job) %>
          <p>
            <%= f.text_field 'candidate_name', class: "form-control", :placeholder => "候选人姓名" %>
          </p>
          <p>
            <%= f.text_field 'mobile', class: 'form-control', :placeholder => '候选人手机号码' %>
          </p>
          <p>
            <%= f.text_field 'tag_list', class: "form-control", :placeholder => "简历标签(*多个标签以','隔开)" %>
          </p>
          <div class="checkbox">
            <label>
              <%= f.check_box :auto_delivery, {checked: true} %> 设置自动托管（如果设置，之后一旦有匹配的职位出现，您的简历会被自动推荐。您将会收到更多的简历红包和入职红包。）
            </label>
          </div>
          <p>
            <%= f.file_field 'attachment' %>
          </p>
          <p>
            <%= f.submit '上传', class: "btn btn-primary active" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
