<div class="row title">
  <div class="col-lg-7">
    <div class="input-group">
      <h2>
        <strong><%= title %></strong>
      </h2>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <%= search_form_for q, url: url do |f| %>
    <%= hidden_field_tag 'recruiter_id', params[:recruiter_id] if params[:recruiter_id] %>
    <%= hidden_field_tag 'job_id', params[:job_id] if params[:job_id] %>
    <%= hidden_field_tag 'state', params[:state] if params[:state] %>
    <div class="col-lg-5">
      <div class="input-group search">
        <%= f.search_field search_fields, class: 'form-control', placeholder: placeholder %>
        <span class="input-group-btn">
          <%= submit_tag '搜索', class: 'btn btn-default' %>
        </span>
      </div>
    </div>
  <% end %>
</div><!-- /.row -->
